In [1]:
import calendar
import pandas as pd
from datetime import datetime,date
from dateutil import rrule

In [2]:

# Set the path to the files
stock_prices_latest_2018_path = 'data/stocks_latest_since_20180101/stock_prices_latest_2018.zip'
stock_prices_latest_2019_path = 'data/stocks_latest_since_20180101/stock_prices_latest_2019.zip'
stock_prices_latest_2020_path = 'data/stocks_latest_since_20180101/stock_prices_latest_2020.zip'
earnings_path = 'data/stocks_latest_since_20180101/earnings_latest.csv'
dividends_path = 'data/stocks_latest_since_20180101/dividends_latest.csv'
dividends_frequency = 'data/stocks_from_dividend_channel.csv'

stocks_2018_df = pd.read_csv(stock_prices_latest_2018_path, compression='zip', header=0, sep=',', quotechar='"')
stocks_2019_df = pd.read_csv(stock_prices_latest_2019_path, compression='zip', header=0, sep=',', quotechar='"')
stocks_2020_df = pd.read_csv(stock_prices_latest_2020_path, compression='zip', header=0, sep=',', quotechar='"')
earnings_df = pd.read_csv(earnings_path)
dividends_df = pd.read_csv(dividends_path)
dividends_frequency_df = pd.read_csv(dividends_frequency)

In [3]:
dividends_frequency_df

,Category Rank,Symbol,Frequency,Last Dividend,Recent Yield,Category
0,#1,NEWT,Q,2.320000,13.19%,Business Servicces and Equipment
1,#2,CCAP,Q,1.640000,12.86%,Business Servicces and Equipment
2,#3,IRM,Q,2.474000,9.04%,Business Servicces and Equipment
3,#4,TRTN,Q,2.080000,5.69%,Business Servicces and Equipment
4,#5,RMR,Q,1.520000,5.38%,Business Servicces and Equipment
...,...,...,...,...,...,...
2968,#111,WCN,Q,0.740000,0.72%,Utilities
2969,#112,CIG,A,0.014345,0.71%,Utilities
2970,#113,ERIC,S,0.084445,0.68%,Utilities
2971,#114,ORA,Q,0.440000,0.63%,Utilities
2972,#115,NEE,Q,1.400000,0.47%,Utilities

In [4]:
# Add the yearly stock DataFrames together
stocks_df = pd.concat([stocks_2018_df,stocks_2019_df,stocks_2020_df])
stocks_df

,Unnamed: 0,symbol,date,open,high,low,close,close_adjusted,volume,split_coefficient
0,103,MSFT,2018-01-03,86.0550,86.5100,85.9700,86.3500,86.3500,24173064,1.0
1,169,MSFT,2018-01-16,90.1000,90.7900,88.0104,88.3500,88.3500,35945428,1.0
2,575,MSFT,2018-01-18,89.8000,90.6700,89.6600,90.1000,90.1000,22931303,1.0
3,853,MSFT,2018-01-02,86.1250,86.3100,85.5000,85.9500,85.9500,21993101,1.0
4,904,MSFT,2018-01-19,90.1400,90.6100,89.6600,90.0000,90.0000,34896964,1.0
...,...,...,...,...,...,...,...,...,...,...
1046926,22824528,MTNB,2020-09-22,0.7995,0.8098,0.7723,0.7953,0.7953,1107081,1.0
1046927,22824529,MTNB,2020-09-23,0.8097,0.8100,0.7820,0.7929,0.7929,1336844,1.0
1046928,22824530,MTNB,2020-09-16,0.8000,0.8100,0.7590,0.7784,0.7784,1478516,1.0
1046929,22824531,MTNB,2020-09-17,0.7784,0.8000,0.7553,0.7961,0.7961,1460562,1.0
1046930,22824532,MTNB,2020-09-18,0.8100,0.8100,0.7800,0.8038,0.8038,1738270,1.0

In [5]:
print(stocks_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4198410 entries, 0 to 1046930
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   symbol             object
 2   date               object
 3   open               float64
 4   high               float64
 5   low                float64
 6   close              float64
 7   close_adjusted     float64
 8   volume             int64
 9   split_coefficient  float64
dtypes: float64(6), int64(2), object(2)
memory usage: 352.3+ MB
None

In [6]:
for dividend in dividends_df.iterrows():
    print(dividend)
    break

(0, Unnamed: 0           387
symbol              ACSF
date          2018-01-22
dividend           0.097
Name: 0, dtype: object)

In [7]:
# group by 'symbol' column 
groups = dividends_df.groupby("symbol") 

for name, group in groups: 
    print(name) 
    print(group) 
    print("\n")
    break
    
    
#     if name == "MIE":
#         print(name) 
#         print(group) 
#         print("\n")
#        stock_dividend_df = pd.DataFrame(group)

A
       Unnamed: 0 symbol        date  dividend
3227       193760      A  2018-04-02     0.149
7175       197708      A  2018-07-02     0.149
10906      201805      A  2018-12-28     0.164
10907      201806      A  2018-10-01     0.149
20350      222291      A  2019-04-01     0.164
24090      226455      A  2019-07-01     0.164
27960      230325      A  2019-09-30     0.164
32298      234663      A  2019-12-30     0.180
35981      238346      A  2020-03-30     0.180
39440      241805      A  2020-06-29     0.180

In [8]:
# import yfinance as yf

# apple= yf.Ticker("CRM")

# # show actions (dividends, splits)
# apple.actions

# # show dividends
# apple.dividends

# # show splits
# apple.splits

In [9]:
import yfinance as yf

#msft = yf.Ticker("MSFT")
# msft = yf.Ticker("AGNC")
# get stock info
#msft.info

# # get historical market data
# hist = msft.history(period="max")

# # show actions (dividends, splits)
# msft.actions

# # show dividends
#msft.dividends

# # # show splits
# # msft.splits

# # # show financials
# # msft.financials
# # msft.quarterly_financials

# # show major holders
# msft.major_holders

# # show institutional holders
# msft.institutional_holders

# # show balance sheet
# msft.balance_sheet
# msft.quarterly_balance_sheet

# # show cashflow
# msft.cashflow
# msft.quarterly_cashflow

# # show earnings
# msft.earnings
# msft.quarterly_earnings

# # show sustainability
# msft.sustainability

# # show analysts recommendations
# msft.recommendations

# # show next event (earnings, etc)
# msft.calendar

# # show ISIN code - *experimental*
# # ISIN = International Securities Identification Number
# msft.isin

# # show options expirations
# msft.options

# # # get option chain for specific expiration
# # opt = msft.option_chain('YYYY-MM-DD')
# # # data available via: opt.calls, opt.puts

In [10]:
dividends_frequency_df

,Category Rank,Symbol,Frequency,Last Dividend,Recent Yield,Category
0,#1,NEWT,Q,2.320000,13.19%,Business Servicces and Equipment
1,#2,CCAP,Q,1.640000,12.86%,Business Servicces and Equipment
2,#3,IRM,Q,2.474000,9.04%,Business Servicces and Equipment
3,#4,TRTN,Q,2.080000,5.69%,Business Servicces and Equipment
4,#5,RMR,Q,1.520000,5.38%,Business Servicces and Equipment
...,...,...,...,...,...,...
2968,#111,WCN,Q,0.740000,0.72%,Utilities
2969,#112,CIG,A,0.014345,0.71%,Utilities
2970,#113,ERIC,S,0.084445,0.68%,Utilities
2971,#114,ORA,Q,0.440000,0.63%,Utilities
2972,#115,NEE,Q,1.400000,0.47%,Utilities

In [11]:
stocks_info_df = pd.DataFrame({
                                'symbol':dividends_frequency_df['Symbol'],
                                 'frequency':dividends_frequency_df['Frequency']
                             })

In [12]:
stocks_info_df

     symbol frequency
0      NEWT         Q
1      CCAP         Q
2       IRM         Q
3      TRTN         Q
4       RMR         Q
...     ...       ...
2968    WCN         Q
2969    CIG         A
2970   ERIC         S
2971    ORA         Q
2972    NEE         Q

[2973 rows x 2 columns]

In [13]:
# for index,stock in combine_stock_df.iterrows():
#     row_data = stocks_info_df.loc[stocks_info_df['symbol'] == stock['symbol']]
#     if row_data.empty:
#         row_data = {'symbol': stock['symbol'],'frequency':'?'}
#         stocks_info_df.loc[len(stocks_info_df)] = row_data

In [14]:
combine_stocks_symbols_df = pd.DataFrame(stocks_info_df['symbol'])
combine_stocks_symbols_df['frequency'] = "?"
stocks_info_df = pd.merge(stocks_info_df,combine_stocks_symbols_df.drop_duplicates(),on=['symbol','frequency'],how='left',indicator=True)
del stocks_info_df['_merge']
stocks_info_df

     symbol frequency
0      NEWT         Q
1      CCAP         Q
2       IRM         Q
3      TRTN         Q
4       RMR         Q
...     ...       ...
2968    WCN         Q
2969    CIG         A
2970   ERIC         S
2971    ORA         Q
2972    NEE         Q

[2973 rows x 2 columns]

In [15]:
stocks_info_df.loc[stocks_info_df['symbol'] == "MSFT"]

     symbol frequency
2735   MSFT         Q

In [16]:
start_date = datetime.strptime('01-01-2018', "%m-%d-%Y")
end_date = datetime.strptime('12-31-2020', "%m-%d-%Y")

In [17]:


month_buckets_datetime = list(rrule.rrule(rrule.MONTHLY, dtstart=start_date, until=end_date))
month_buckets = []
for single_month in month_buckets_datetime:
    month_bucket =str(single_month.year) + str('{:02d}'.format(single_month.month))
    month_buckets.append(month_bucket)
    
print(month_buckets)

['201801', '201802', '201803', '201804', '201805', '201806', '201807', '201808', '201809', '201810', '201811', '201812', '201901', '201902', '201903', '201904', '201905', '201906', '201907', '201908', '201909', '201910', '201911', '201912', '202001', '202002', '202003', '202004', '202005', '202006', '202007', '202008', '202009', '202010', '202011', '202012']

In [18]:
# for index,stock_data in stocks_info_df.iterrows():
#     for single_month in month_buckets:
#         stocks_info_df.loc[index,single_month] = ''
#         #hotel_df.loc[index,'Hotel Name'] = results[0]['name']        
#         #stocks_df.loc(stock_df['symbol'])[single_month] = single_month
#         #print(stock_data['symbol'])

In [19]:
stocks_info_df

     symbol frequency
0      NEWT         Q
1      CCAP         Q
2       IRM         Q
3      TRTN         Q
4       RMR         Q
...     ...       ...
2968    WCN         Q
2969    CIG         A
2970   ERIC         S
2971    ORA         Q
2972    NEE         Q

[2973 rows x 2 columns]

In [20]:
dividends_df

       Unnamed: 0 symbol        date  dividend
0             387   ACSF  2018-01-22    0.0970
1            1149   AGND  2018-01-23    0.0800
2            1237   AGZD  2018-01-23    0.0900
3            3723   BANR  2018-01-08    0.2500
4            4033   BDGE  2018-01-19    0.2300
...           ...    ...         ...       ...
42599      244964    RNR  2020-09-14    0.3500
42600      244965    UTG  2020-09-17    0.1800
42601      244966    VCF  2020-09-17    0.0400
42602      244967    VKI  2020-09-14    0.0465
42603      244968    VMM  2020-09-17    0.0325

[42604 rows x 4 columns]

In [21]:
# for index,dividend_date_record in dividends_df.iterrows():
#     record_date = datetime.strptime(dividend_date_record['date'], "%Y-%m-%d")
#     record_month = str(record_date.year) + str('{:02d}'.format(record_date.month))
#     dividend_dict = {'dividend': dividend_date_record['dividend']}
    
#     stocks_info_df.loc[stocks_info_df['symbol'] == dividend_date_record['symbol'],record_month] = dividend_dict

In [22]:
stocks_info_df

     symbol frequency
0      NEWT         Q
1      CCAP         Q
2       IRM         Q
3      TRTN         Q
4       RMR         Q
...     ...       ...
2968    WCN         Q
2969    CIG         A
2970   ERIC         S
2971    ORA         Q
2972    NEE         Q

[2973 rows x 2 columns]

In [23]:
dividends_by_period = []
for index,dividend_date_record in dividends_df.iterrows():
    record_date = datetime.strptime(dividend_date_record['date'], "%Y-%m-%d")
    record_month = str(record_date.year) + str('{:02d}'.format(record_date.month))
    dividend_dict = {
                     'symbol':  dividend_date_record['symbol'], 
                     'month': record_month, 
                     'dividend': dividend_date_record['dividend']
                    }
    dividends_by_period.append(dividend_dict)
dividends_by_period

[{'symbol': 'ACSF', 'month': '201801', 'dividend': 0.09699999999999999},
 {'symbol': 'AGND', 'month': '201801', 'dividend': 0.08},
 {'symbol': 'AGZD', 'month': '201801', 'dividend': 0.09},
 {'symbol': 'BANR', 'month': '201801', 'dividend': 0.25},
 {'symbol': 'BDGE', 'month': '201801', 'dividend': 0.23},
 {'symbol': 'BELFA', 'month': '201801', 'dividend': 0.06},
 {'symbol': 'BELFB', 'month': '201801', 'dividend': 0.07},
 {'symbol': 'BPOPM', 'month': '201801', 'dividend': 0.1276},
 {'symbol': 'BPOPN', 'month': '201801', 'dividend': 0.1396},
 {'symbol': 'CAC', 'month': '201801', 'dividend': 0.25},
 {'symbol': 'CBRL', 'month': '201801', 'dividend': 1.2},
 {'symbol': 'CDC', 'month': '201801', 'dividend': 0.0201},
 {'symbol': 'CDL', 'month': '201801', 'dividend': 0.0192},
 {'symbol': 'CEZ', 'month': '201801', 'dividend': 0.0044},
 {'symbol': 'CFA', 'month': '201801', 'dividend': 0.0093},
 {'symbol': 'CFO', 'month': '201801', 'dividend': 0.0076},
 {'symbol': 'CHCO', 'month': '201801', 'dividend': 0.46},
 {'symbol': 'CID', 'month': '201801', 'dividend': 0.0067},
 {'symbol': 'CIVB', 'month': '201801', 'dividend': 0.07},
 {'symbol': 'CMCSA', 'month': '201801', 'dividend': 0.1575},
 {'symbol': 'CMTL', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'CNOB', 'month': '201801', 'dividend': 0.075},
 {'symbol': 'CNSL', 'month': '201801', 'dividend': 0.3874},
 {'symbol': 'CPTA', 'month': '201801', 'dividend': 0.0833},
 {'symbol': 'CSA', 'month': '201801', 'dividend': 0.0017},
 {'symbol': 'CSB', 'month': '201801', 'dividend': 0.0212},
 {'symbol': 'CSCO', 'month': '201801', 'dividend': 0.29},
 {'symbol': 'CSF', 'month': '201801', 'dividend': 0.0029},
 {'symbol': 'CVBF', 'month': '201801', 'dividend': 0.14},
 {'symbol': 'CVLY', 'month': '201801', 'dividend': 0.155},
 {'symbol': 'CWCO', 'month': '201801', 'dividend': 0.085},
 {'symbol': 'CYCCP', 'month': '201801', 'dividend': 0.15},
 {'symbol': 'DGRS', 'month': '201801', 'dividend': 0.03},
 {'symbol': 'DGRW', 'month': '201801', 'dividend': 0.015},
 {'symbol': 'DWIN', 'month': '201801', 'dividend': 0.0928},
 {'symbol': 'EBAYL', 'month': '201801', 'dividend': 0.375},
 {'symbol': 'ECOL', 'month': '201801', 'dividend': 0.18},
 {'symbol': 'EMCB', 'month': '201801', 'dividend': 0.235},
 {'symbol': 'ERIE', 'month': '201801', 'dividend': 0.84},
 {'symbol': 'EVFTC', 'month': '201801', 'dividend': 0.0328},
 {'symbol': 'EVGBC', 'month': '201801', 'dividend': 0.49},
 {'symbol': 'EVLMC', 'month': '201801', 'dividend': 0.031},
 {'symbol': 'FCAL', 'month': '201801', 'dividend': 0.125},
 {'symbol': 'FCEF', 'month': '201801', 'dividend': 0.09},
 {'symbol': 'FCVT', 'month': '201801', 'dividend': 0.04},
 {'symbol': 'FDIV', 'month': '201801', 'dividend': 0.17},
 {'symbol': 'FEMB', 'month': '201801', 'dividend': 0.21},
 {'symbol': 'FIXD', 'month': '201801', 'dividend': 0.1005},
 {'symbol': 'FMB', 'month': '201801', 'dividend': 0.1125},
 {'symbol': 'FMHI', 'month': '201801', 'dividend': 0.135},
 {'symbol': 'FNLC', 'month': '201801', 'dividend': 0.24},
 {'symbol': 'FTHI', 'month': '201801', 'dividend': 0.08},
 {'symbol': 'FTLB', 'month': '201801', 'dividend': 0.055},
 {'symbol': 'FTSL', 'month': '201801', 'dividend': 0.145},
 {'symbol': 'FTSM', 'month': '201801', 'dividend': 0.0825},
 {'symbol': 'GAIN', 'month': '201801', 'dividend': 0.065},
 {'symbol': 'GAINM', 'month': '201801', 'dividend': 0.1302},
 {'symbol': 'GAINN', 'month': '201801', 'dividend': 0.1354},
 {'symbol': 'GAINO', 'month': '201801', 'dividend': 0.1406},
 {'symbol': 'GECCL', 'month': '201801', 'dividend': 0.4065},
 {'symbol': 'GFED', 'month': '201801', 'dividend': 0.12},
 {'symbol': 'GFNSL', 'month': '201801', 'dividend': 0.5078},
 {'symbol': 'GLAD', 'month': '201801', 'dividend': 0.07},
 {'symbol': 'GLADN', 'month': '201801', 'dividend': 0.125},
 {'symbol': 'GLDI', 'month': '201801', 'dividend': 0.0164},
 {'symbol': 'GNTX', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'GOOD', 'month': '201801', 'dividend': 0.125},
 {'symbol': 'GOODM', 'month': '201801', 'dividend': 0.1458},
 {'symbol': 'GOODO', 'month': '201801', 'dividend': 0.1563},
 {'symbol': 'GOODP', 'month': '201801', 'dividend': 0.1615},
 {'symbol': 'GROW', 'month': '201801', 'dividend': 0.0025},
 {'symbol': 'GWRS', 'month': '201801', 'dividend': 0.024},
 {'symbol': 'HBNC', 'month': '201801', 'dividend': 0.13},
 {'symbol': 'HCAP', 'month': '201801', 'dividend': 0.1125},
 {'symbol': 'HFBC', 'month': '201801', 'dividend': 0.05},
 {'symbol': 'HFBL', 'month': '201801', 'dividend': 0.12},
 {'symbol': 'HIFS', 'month': '201801', 'dividend': 0.34},
 {'symbol': 'HRZN', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'HURC', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'HYLS', 'month': '201801', 'dividend': 0.23},
 {'symbol': 'HYND', 'month': '201801', 'dividend': 0.09},
 {'symbol': 'HYZD', 'month': '201801', 'dividend': 0.09},
 {'symbol': 'IBKCO', 'month': '201801', 'dividend': 0.4125},
 {'symbol': 'IBKCP', 'month': '201801', 'dividend': 0.8281},
 {'symbol': 'IDCC', 'month': '201801', 'dividend': 0.35},
 {'symbol': 'IMKTA', 'month': '201801', 'dividend': 0.165},
 {'symbol': 'INTU', 'month': '201801', 'dividend': 0.39},
 {'symbol': 'ISTR', 'month': '201801', 'dividend': 0.0315},
 {'symbol': 'JOUT', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'KBWD', 'month': '201801', 'dividend': 0.1994},
 {'symbol': 'KBWY', 'month': '201801', 'dividend': 0.2223},
 {'symbol': 'KCAP', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'LAND', 'month': '201801', 'dividend': 0.0442},
 {'symbol': 'LANDP', 'month': '201801', 'dividend': 0.1328},
 {'symbol': 'LDRI', 'month': '201801', 'dividend': 0.0409},
 {'symbol': 'LILA', 'month': '201801', 'dividend': 20.15},
 {'symbol': 'LMBS', 'month': '201801', 'dividend': 0.1175},
 {'symbol': 'LSTR', 'month': '201801', 'dividend': 1.5},
 {'symbol': 'MCEF', 'month': '201801', 'dividend': 0.055},
 {'symbol': 'MDIV', 'month': '201801', 'dividend': 0.08900000000000001},
 {'symbol': 'MGRC', 'month': '201801', 'dividend': 0.26},
 {'symbol': 'MINDP', 'month': '201801', 'dividend': 0.5625},
 {'symbol': 'MORN', 'month': '201801', 'dividend': 0.25},
 {'symbol': 'NTAP', 'month': '201801', 'dividend': 0.2},
 {'symbol': 'NWFL', 'month': '201801', 'dividend': 0.22},
 {'symbol': 'OCSLL', 'month': '201801', 'dividend': 0.3828},
 {'symbol': 'OKDCC', 'month': '201801', 'dividend': 0.0736},
 {'symbol': 'OXLC', 'month': '201801', 'dividend': 0.135},
 {'symbol': 'OXLCM', 'month': '201801', 'dividend': 0.1406},
 {'symbol': 'OXLCO', 'month': '201801', 'dividend': 0.1563},
 {'symbol': 'OZRK', 'month': '201801', 'dividend': 0.19},
 {'symbol': 'PBBI', 'month': '201801', 'dividend': 0.05},
 {'symbol': 'PBHC', 'month': '201801', 'dividend': 0.0575},
 {'symbol': 'PDCO', 'month': '201801', 'dividend': 0.26},
 {'symbol': 'PEY', 'month': '201801', 'dividend': 0.0451},
 {'symbol': 'PFBC', 'month': '201801', 'dividend': 0.22},
 {'symbol': 'PFLT', 'month': '201801', 'dividend': 0.095},
 {'symbol': 'PKBK', 'month': '201801', 'dividend': 0.12},
 {'symbol': 'PLW', 'month': '201801', 'dividend': 0.0561},
 {'symbol': 'QYLD', 'month': '201801', 'dividend': 0.2502},
 {'symbol': 'RBNC', 'month': '201801', 'dividend': 0.06},
 {'symbol': 'RGCO', 'month': '201801', 'dividend': 0.155},
 {'symbol': 'RGLD', 'month': '201801', 'dividend': 0.25},
 {'symbol': 'RILYG', 'month': '201801', 'dividend': 0.2417},
 {'symbol': 'RILYL', 'month': '201801', 'dividend': 0.4688},
 {'symbol': 'RILYZ', 'month': '201801', 'dividend': 0.4688},
 {'symbol': 'RVSB', 'month': '201801', 'dividend': 0.03},
 {'symbol': 'SCVL', 'month': '201801', 'dividend': 0.075},
 {'symbol': 'SHLM', 'month': '201801', 'dividend': 0.205},
 {'symbol': 'SKIS', 'month': '201801', 'dividend': 0.07},
 {'symbol': 'SLVO', 'month': '201801', 'dividend': 0.0226},
 {'symbol': 'SNHNI', 'month': '201801', 'dividend': 0.3516},
 {'symbol': 'SNHY', 'month': '201801', 'dividend': 0.09},
 {'symbol': 'SNLN', 'month': '201801', 'dividend': 0.0651},
 {'symbol': 'SUNS', 'month': '201801', 'dividend': 0.1175},
 {'symbol': 'TAX', 'month': '201801', 'dividend': 0.16},
 {'symbol': 'TCFC', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'THFF', 'month': '201801', 'dividend': 0.51},
 {'symbol': 'UBFO', 'month': '201801', 'dividend': 0.07},
 {'symbol': 'USOI', 'month': '201801', 'dividend': 0.0633},
 {'symbol': 'VLGEA', 'month': '201801', 'dividend': 0.25},
 {'symbol': 'VRIG', 'month': '201801', 'dividend': 0.0489},
 {'symbol': 'VRTSP', 'month': '201801', 'dividend': 1.8125},
 {'symbol': 'VSDA', 'month': '201801', 'dividend': 0.0022},
 {'symbol': 'VSMV', 'month': '201801', 'dividend': 0.0191},
 {'symbol': 'WDFC', 'month': '201801', 'dividend': 0.54},
 {'symbol': 'WIRE', 'month': '201801', 'dividend': 0.02},
 {'symbol': 'WSBF', 'month': '201801', 'dividend': 0.12},
 {'symbol': 'YDIV', 'month': '201801', 'dividend': 0.021},
 {'symbol': 'ABBV', 'month': '201801', 'dividend': 0.71},
 {'symbol': 'ABM', 'month': '201801', 'dividend': 0.175},
 {'symbol': 'ABT', 'month': '201801', 'dividend': 0.28},
 {'symbol': 'ACV', 'month': '201801', 'dividend': 0.16699999999999998},
 {'symbol': 'ADNT', 'month': '201801', 'dividend': 0.275},
 {'symbol': 'AET', 'month': '201801', 'dividend': 0.5},
 {'symbol': 'AFB', 'month': '201801', 'dividend': 0.0458},
 {'symbol': 'AFG', 'month': '201801', 'dividend': 0.35},
 {'symbol': 'AFT', 'month': '201801', 'dividend': 0.09},
 {'symbol': 'AGC', 'month': '201801', 'dividend': 0.047},
 {'symbol': 'AGD', 'month': '201801', 'dividend': 0.065},
 {'symbol': 'AIF', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'AIR', 'month': '201801', 'dividend': 0.075},
 {'symbol': 'AIW', 'month': '201801', 'dividend': 0.4141},
 {'symbol': 'AKP', 'month': '201801', 'dividend': 0.0421},
 {'symbol': 'ALG', 'month': '201801', 'dividend': 0.11},
 {'symbol': 'ANTX', 'month': '201801', 'dividend': 0.6563},
 {'symbol': 'AOD', 'month': '201801', 'dividend': 0.0575},
 {'symbol': 'APA', 'month': '201801', 'dividend': 0.25},
 {'symbol': 'APLE', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'ARDC', 'month': '201801', 'dividend': 0.1075},
 {'symbol': 'ARR', 'month': '201801', 'dividend': 0.19},
 {'symbol': 'ATHM', 'month': '201801', 'dividend': 0.76},
 {'symbol': 'AVK', 'month': '201801', 'dividend': 0.1164},
 {'symbol': 'AWF', 'month': '201801', 'dividend': 0.0699},
 {'symbol': 'AWP', 'month': '201801', 'dividend': 0.05},
 {'symbol': 'AXP', 'month': '201801', 'dividend': 0.35},
 {'symbol': 'AYI', 'month': '201801', 'dividend': 0.13},
 {'symbol': 'BAF', 'month': '201801', 'dividend': 0.0685},
 {'symbol': 'BBD', 'month': '201801', 'dividend': 0.0106},
 {'symbol': 'BBDO', 'month': '201801', 'dividend': 0.0096},
 {'symbol': 'BBF', 'month': '201801', 'dividend': 0.0665},
 {'symbol': 'BBK', 'month': '201801', 'dividend': 0.0635},
 {'symbol': 'BCX', 'month': '201801', 'dividend': 0.0516},
 {'symbol': 'BDJ', 'month': '201801', 'dividend': 0.0467},
 {'symbol': 'BDN', 'month': '201801', 'dividend': 0.18},
 {'symbol': 'BDXA', 'month': '201801', 'dividend': 0.7656},
 {'symbol': 'BFK', 'month': '201801', 'dividend': 0.065},
 {'symbol': 'BFO', 'month': '201801', 'dividend': 0.026000000000000002},
 {'symbol': 'BFS', 'month': '201801', 'dividend': 0.52},
 {'symbol': 'BFZ', 'month': '201801', 'dividend': 0.055},
 {'symbol': 'BGH', 'month': '201801', 'dividend': 0.3016},
 {'symbol': 'BGR', 'month': '201801', 'dividend': 0.0776},
 {'symbol': 'BGY', 'month': '201801', 'dividend': 0.038},
 {'symbol': 'BIF', 'month': '201801', 'dividend': 0.034},
 {'symbol': 'BJZ', 'month': '201801', 'dividend': 0.0025},
 {'symbol': 'BKE', 'month': '201801', 'dividend': 2.0},
 {'symbol': 'BKHU', 'month': '201801', 'dividend': 0.9690000000000001},
 {'symbol': 'BKK', 'month': '201801', 'dividend': 0.0395},
 {'symbol': 'BKN', 'month': '201801', 'dividend': 0.062},
 {'symbol': 'BKS', 'month': '201801', 'dividend': 0.15},
 {'symbol': 'BKU', 'month': '201801', 'dividend': 0.21},
 {'symbol': 'BLH', 'month': '201801', 'dividend': 0.0025},
 {'symbol': 'BME', 'month': '201801', 'dividend': 0.2},
 {'symbol': 'BMY', 'month': '201801', 'dividend': 0.4},
 {'symbol': 'BNJ', 'month': '201801', 'dividend': 0.0635},
 {'symbol': 'BNY', 'month': '201801', 'dividend': 0.0505},
 {'symbol': 'BOE', 'month': '201801', 'dividend': 0.078},
 {'symbol': 'BPK', 'month': '201801', 'dividend': 0.005},
 {'symbol': 'BPT', 'month': '201801', 'dividend': 1.2302},
 {'symbol': 'BQH', 'month': '201801', 'dividend': 0.059000000000000004},
 {'symbol': 'BRC', 'month': '201801', 'dividend': 0.2075},
 {'symbol': 'BRX', 'month': '201801', 'dividend': 0.275},
 {'symbol': 'BSBR', 'month': '201801', 'dividend': 0.5452},
 {'symbol': 'BSD', 'month': '201801', 'dividend': 0.065},
 {'symbol': 'BSE', 'month': '201801', 'dividend': 0.0465},
 {'symbol': 'BST', 'month': '201801', 'dividend': 0.13},
 {'symbol': 'BTA', 'month': '201801', 'dividend': 0.0545},
 {'symbol': 'BTT', 'month': '201801', 'dividend': 0.0718},
 {'symbol': 'BUI', 'month': '201801', 'dividend': 0.121},
 {'symbol': 'BWG', 'month': '201801', 'dividend': 0.0765},
 {'symbol': 'BXG', 'month': '201801', 'dividend': 0.15},
 {'symbol': 'BYM', 'month': '201801', 'dividend': 0.06},
 {'symbol': 'CAT', 'month': '201801', 'dividend': 0.78},
 {'symbol': 'CBH', 'month': '201801', 'dividend': 0.046},
 {'symbol': 'CEN', 'month': '201801', 'dividend': 0.1042},
 {'symbol': 'CIF', 'month': '201801', 'dividend': 0.022000000000000002},
 {'symbol': 'CII', 'month': '201801', 'dividend': 0.0828},
 {'symbol': 'CIO', 'month': '201801', 'dividend': 0.235},
 {'symbol': 'CL', 'month': '201801', 'dividend': 0.4},
 {'symbol': 'CLI', 'month': '201801', 'dividend': 0.2},
 {'symbol': 'CLX', 'month': '201801', 'dividend': 0.84},
 {'symbol': 'CMC', 'month': '201801', 'dividend': 0.12},
 {'symbol': 'CMD', 'month': '201801', 'dividend': 0.085},
 {'symbol': 'CMRE', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'CMU', 'month': '201801', 'dividend': 0.0215},
 {'symbol': 'CODI', 'month': '201801', 'dividend': 0.36},
 {'symbol': 'COG', 'month': '201801', 'dividend': 0.06},
 {'symbol': 'COO', 'month': '201801', 'dividend': 0.03},
 {'symbol': 'CPB', 'month': '201801', 'dividend': 0.35},
 {'symbol': 'CSRA', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'CVS', 'month': '201801', 'dividend': 0.5},
 {'symbol': 'CXE', 'month': '201801', 'dividend': 0.025},
 {'symbol': 'CXH', 'month': '201801', 'dividend': 0.038},
 {'symbol': 'DBL', 'month': '201801', 'dividend': 0.16699999999999998},
 {'symbol': 'DCF', 'month': '201801', 'dividend': 0.054000000000000006},
 {'symbol': 'DDF', 'month': '201801', 'dividend': 0.04},
 {'symbol': 'DDT', 'month': '201801', 'dividend': 0.469},
 {'symbol': 'DEX', 'month': '201801', 'dividend': 0.0525},
 {'symbol': 'DFP', 'month': '201801', 'dividend': 0.155},
 {'symbol': 'DG', 'month': '201801', 'dividend': 0.26},
 {'symbol': 'DGX', 'month': '201801', 'dividend': 0.45},
 {'symbol': 'DHG', 'month': '201801', 'dividend': 0.066},
 {'symbol': 'DL', 'month': '201801', 'dividend': 0.45},
 {'symbol': 'DLNG', 'month': '201801', 'dividend': 0.4225},
 {'symbol': 'DMB', 'month': '201801', 'dividend': 0.053},
 {'symbol': 'DMO', 'month': '201801', 'dividend': 0.225},
 {'symbol': 'DOC', 'month': '201801', 'dividend': 0.23},
 {'symbol': 'DRI', 'month': '201801', 'dividend': 0.63},
 {'symbol': 'DSL', 'month': '201801', 'dividend': 0.15},
 {'symbol': 'DSM', 'month': '201801', 'dividend': 0.0415},
 {'symbol': 'DTF', 'month': '201801', 'dividend': 0.05},
 {'symbol': 'DUC', 'month': '201801', 'dividend': 0.035},
 {'symbol': 'DUKH', 'month': '201801', 'dividend': 0.3203},
 {'symbol': 'EBF', 'month': '201801', 'dividend': 0.3},
 {'symbol': 'ECCA', 'month': '201801', 'dividend': 0.1615},
 {'symbol': 'ECCB', 'month': '201801', 'dividend': 0.1615},
 {'symbol': 'EDF', 'month': '201801', 'dividend': 0.18},
 {'symbol': 'EDI', 'month': '201801', 'dividend': 0.1511},
 {'symbol': 'EFF', 'month': '201801', 'dividend': 0.07200000000000001},
 {'symbol': 'EGIF', 'month': '201801', 'dividend': 0.073},
 {'symbol': 'EHI', 'month': '201801', 'dividend': 0.0635},
 {'symbol': 'ELP', 'month': '201801', 'dividend': 0.5710000000000001},
 {'symbol': 'EMD', 'month': '201801', 'dividend': 0.1},
 {'symbol': 'ENIA', 'month': '201801', 'dividend': 0.05},
 {'symbol': 'ENIC', 'month': '201801', 'dividend': 0.0609},
 {'symbol': 'EOCC', 'month': '201801', 'dividend': 0.2285},
 {'symbol': 'EOG', 'month': '201801', 'dividend': 0.1675},
 {'symbol': 'EOI', 'month': '201801', 'dividend': 0.0864},
 {'symbol': 'EOS', 'month': '201801', 'dividend': 0.0875},
 {'symbol': 'EOT', 'month': '201801', 'dividend': 0.0859},
 {'symbol': 'EQCO', 'month': '201801', 'dividend': 0.3594},
 {'symbol': 'ESE', 'month': '201801', 'dividend': 0.08},
 {'symbol': 'ETB', 'month': '201801', 'dividend': 0.10800000000000001},
 {'symbol': 'ETG', 'month': '201801', 'dividend': 0.1025},
 {'symbol': 'ETH', 'month': '201801', 'dividend': 0.5},
 {'symbol': 'ETJ', 'month': '201801', 'dividend': 0.076},
 {'symbol': 'ETO', 'month': '201801', 'dividend': 0.18},
 {'symbol': 'ETV', 'month': '201801', 'dividend': 0.1108},
 {'symbol': 'ETW', 'month': '201801', 'dividend': 0.091},
 {'symbol': 'ETY', 'month': '201801', 'dividend': 0.0843},
 {'symbol': 'EVG', 'month': '201801', 'dividend': 0.0765},
 {'symbol': 'EVN', 'month': '201801', 'dividend': 0.0541},
 {'symbol': 'EVT', 'month': '201801', 'dividend': 0.145},
 {'symbol': 'EXG', 'month': '201801', 'dividend': 0.076},
 {'symbol': 'FCT', 'month': '201801', 'dividend': 0.0635},
 {'symbol': 'FDEU', 'month': '201801', 'dividend': 0.121},
 {'symbol': 'FFC', 'month': '201801', 'dividend': 0.11900000000000001},
 {'symbol': 'FHY', 'month': '201801', 'dividend': 0.08},
 {'symbol': 'FIF', 'month': '201801', 'dividend': 0.11},
 {'symbol': 'FL', 'month': '201801', 'dividend': 0.31},
 {'symbol': 'FLC', 'month': '201801', 'dividend': 0.126},
 {'symbol': 'FLS', 'month': '201801', 'dividend': 0.19},
 {'symbol': 'FMN', 'month': '201801', 'dividend': 0.061},
 {'symbol': 'FMY', 'month': '201801', 'dividend': 0.065},
 {'symbol': 'FOF', 'month': '201801', 'dividend': 0.087},
 {'symbol': 'FPL', 'month': '201801', 'dividend': 0.105},
 {'symbol': 'FRC', 'month': '201801', 'dividend': 0.17},
 {'symbol': 'FSD', 'month': '201801', 'dividend': 0.1278},
 {'symbol': 'GBAB', 'month': '201801', 'dividend': 0.1257},
 {'symbol': 'GD', 'month': '201801', 'dividend': 0.84},
 {'symbol': 'GDO', 'month': '201801', 'dividend': 0.1135},
 {'symbol': 'GDV', 'month': '201801', 'dividend': 0.11},
 {'symbol': 'GEB', 'month': '201801', 'dividend': 0.3047},
 {'symbol': 'GFY', 'month': '201801', 'dividend': 0.0775},
 {'symbol': 'GGG', 'month': '201801', 'dividend': 0.1325},
 {'symbol': 'GGM', 'month': '201801', 'dividend': 0.1813},
 {'symbol': 'GIM', 'month': '201801', 'dividend': 0.0178},
 {'symbol': 'GIS', 'month': '201801', 'dividend': 0.49},
 {'symbol': 'GJO', 'month': '201801', 'dividend': 0.044000000000000004},
 {'symbol': 'GJP', 'month': '201801', 'dividend': 0.064},
 {'symbol': 'GJR', 'month': '201801', 'dividend': 0.045},
 {'symbol': 'GJS', 'month': '201801', 'dividend': 0.0467},
 {'symbol': 'GLT', 'month': '201801', 'dividend': 0.13},
 {'symbol': 'GNL', 'month': '201801', 'dividend': 0.1775},
 {'symbol': 'GNT', 'month': '201801', 'dividend': 0.05},
 {'symbol': 'GOF', 'month': '201801', 'dividend': 0.1821},
 {'symbol': 'GPS', 'month': '201801', 'dividend': 0.23},
 {'symbol': 'GUT', 'month': '201801', 'dividend': 0.05},
 {'symbol': 'HEI', 'month': '201801', 'dividend': 0.07},
 {'symbol': 'HFRO', 'month': '201801', 'dividend': 0.077},
 {'symbol': 'HIE', 'month': '201801', 'dividend': 0.11599999999999999},
 {'symbol': 'HIO', 'month': '201801', 'dividend': 0.0275},
 {'symbol': 'HIX', 'month': '201801', 'dividend': 0.046},
 {'symbol': 'HPF', 'month': '201801', 'dividend': 0.14},
 {'symbol': 'HPI', 'month': '201801', 'dividend': 0.14},
 {'symbol': 'HPS', 'month': '201801', 'dividend': 0.1222},
 {'symbol': 'HRL', 'month': '201801', 'dividend': 0.1875},
 {'symbol': 'HT', 'month': '201801', 'dividend': 0.28},

In [24]:

# #group the data
# groups = dividends_df.groupby("symbol") 

# for stock in my_stock_holdings:
#     try:
#         df = pd.DataFrame(groups.get_group(stock))
#         df2 = df
#         df2['date']= pd.to_datetime(df2['date'])
#         df2.sort_values(by=['date'], inplace=True)
#         for index,row in df2.iterrows():
#             print(row['symbol'],row['date'].strftime('%m/%d/%Y'),str(row['dividend']).rjust(10))

#         print('--------------------------------------')
#     except:
#         print(f'No dividend history for {stock}')

In [25]:
stocks_df.head(1)

,Unnamed: 0,symbol,date,open,high,low,close,close_adjusted,volume,split_coefficient
0,103,MSFT,2018-01-03,86.055,86.51,85.97,86.35,86.35,24173064,1.0

In [26]:
#group the data
groups = stocks_df.groupby("symbol")
stocks_list = stocks_df['symbol'].unique()

stocks_by_period = []

for stock in stocks_list:
    df = pd.DataFrame(groups.get_group(stock))
    df['date']= pd.to_datetime(df['date'])
    df.sort_values(by=['date'], inplace=True)

    for single_month in month_buckets:
        extracted_month = single_month[4:6]
        extracted_year = single_month[:4]

        last_day_of_month = calendar.monthrange(int(extracted_year),int(extracted_month))[1]

        month_start_date_str = extracted_month + "-01-" + extracted_year
        month_end_date_str = str(extracted_month) + "-" + str(last_day_of_month) + "-" + str(extracted_year)
        
        month_start_date = datetime.strptime(month_start_date_str, "%m-%d-%Y")
        month_end_date = datetime.strptime(month_end_date_str, "%m-%d-%Y")        
        single_month_df = df[(df['date'] >= month_start_date) & (df['date'] <= month_end_date)]
        if len(single_month_df) != 0:
            open_value = single_month_df['open'].iloc[0]  
            close_value = single_month_df['close'].iloc[-1]
        

            record_month = str(extracted_year) + str('{:02d}'.format(int(extracted_month)))
            stock_dict = {'symbol':  stock, 
                          'month': record_month, 
                          'open': open_value,
                          'close': close_value
                    }
            stocks_by_period.append(stock_dict)
stocks_by_period

[{'symbol': 'MSFT', 'month': '201801', 'open': 86.125, 'close': 95.01},
 {'symbol': 'MSFT', 'month': '201802', 'open': 94.79, 'close': 93.77},
 {'symbol': 'MSFT', 'month': '201803', 'open': 93.99, 'close': 91.27},
 {'symbol': 'MSFT', 'month': '201804', 'open': 90.47, 'close': 93.52},
 {'symbol': 'MSFT', 'month': '201805', 'open': 93.21, 'close': 98.84},
 {'symbol': 'MSFT', 'month': '201806', 'open': 99.2798, 'close': 98.61},
 {'symbol': 'MSFT', 'month': '201807', 'open': 98.1, 'close': 106.08},
 {'symbol': 'MSFT', 'month': '201808', 'open': 106.03, 'close': 112.33},
 {'symbol': 'MSFT', 'month': '201809', 'open': 110.85, 'close': 114.37},
 {'symbol': 'MSFT', 'month': '201810', 'open': 114.75, 'close': 106.81},
 {'symbol': 'MSFT', 'month': '201811', 'open': 107.05, 'close': 110.89},
 {'symbol': 'MSFT', 'month': '201812', 'open': 113.0, 'close': 101.57},
 {'symbol': 'MSFT', 'month': '201901', 'open': 99.55, 'close': 104.43},
 {'symbol': 'MSFT', 'month': '201902', 'open': 103.775, 'close': 112.03},
 {'symbol': 'MSFT', 'month': '201903', 'open': 112.89, 'close': 117.94},
 {'symbol': 'MSFT', 'month': '201904', 'open': 118.95, 'close': 130.6},
 {'symbol': 'MSFT', 'month': '201905', 'open': 130.53, 'close': 123.68},
 {'symbol': 'MSFT', 'month': '201906', 'open': 123.85, 'close': 133.96},
 {'symbol': 'MSFT', 'month': '201907', 'open': 136.63, 'close': 136.27},
 {'symbol': 'MSFT', 'month': '201908', 'open': 137.0, 'close': 137.86},
 {'symbol': 'MSFT', 'month': '201909', 'open': 136.61, 'close': 139.03},
 {'symbol': 'MSFT', 'month': '201910', 'open': 139.66, 'close': 143.37},
 {'symbol': 'MSFT', 'month': '201911', 'open': 144.26, 'close': 151.38},
 {'symbol': 'MSFT', 'month': '201912', 'open': 151.81, 'close': 157.7},
 {'symbol': 'MSFT', 'month': '202001', 'open': 158.78, 'close': 170.23},
 {'symbol': 'MSFT', 'month': '202002', 'open': 170.43, 'close': 162.01},
 {'symbol': 'MSFT', 'month': '202003', 'open': 165.31, 'close': 157.71},
 {'symbol': 'MSFT', 'month': '202004', 'open': 153.0, 'close': 179.21},
 {'symbol': 'MSFT', 'month': '202005', 'open': 175.8, 'close': 183.25},
 {'symbol': 'MSFT', 'month': '202006', 'open': 182.54, 'close': 203.51},
 {'symbol': 'MSFT', 'month': '202007', 'open': 203.14, 'close': 205.01},
 {'symbol': 'MSFT', 'month': '202008', 'open': 211.52, 'close': 225.53},
 {'symbol': 'MSFT', 'month': '202009', 'open': 225.51, 'close': 202.54},
 {'symbol': 'AAPL', 'month': '201801', 'open': 170.16, 'close': 167.43},
 {'symbol': 'AAPL', 'month': '201802', 'open': 167.165, 'close': 178.12},
 {'symbol': 'AAPL', 'month': '201803', 'open': 178.54, 'close': 167.78},
 {'symbol': 'AAPL', 'month': '201804', 'open': 167.88, 'close': 165.26},
 {'symbol': 'AAPL', 'month': '201805', 'open': 166.4102, 'close': 186.87},
 {'symbol': 'AAPL', 'month': '201806', 'open': 187.9912, 'close': 185.11},
 {'symbol': 'AAPL', 'month': '201807', 'open': 183.82, 'close': 190.29},
 {'symbol': 'AAPL', 'month': '201808', 'open': 199.13, 'close': 227.63},
 {'symbol': 'AAPL', 'month': '201809', 'open': 228.41, 'close': 225.74},
 {'symbol': 'AAPL', 'month': '201810', 'open': 227.95, 'close': 218.86},
 {'symbol': 'AAPL', 'month': '201811', 'open': 219.05, 'close': 178.58},
 {'symbol': 'AAPL', 'month': '201812', 'open': 184.46, 'close': 157.74},
 {'symbol': 'AAPL', 'month': '201901', 'open': 154.89, 'close': 166.44},
 {'symbol': 'AAPL', 'month': '201902', 'open': 166.96, 'close': 173.15},
 {'symbol': 'AAPL', 'month': '201903', 'open': 174.28, 'close': 189.95},
 {'symbol': 'AAPL', 'month': '201904', 'open': 191.64, 'close': 200.67},
 {'symbol': 'AAPL', 'month': '201905', 'open': 209.88, 'close': 175.07},
 {'symbol': 'AAPL', 'month': '201906', 'open': 175.6, 'close': 197.92},
 {'symbol': 'AAPL', 'month': '201907', 'open': 203.17, 'close': 213.04},
 {'symbol': 'AAPL', 'month': '201908', 'open': 213.9, 'close': 208.74},
 {'symbol': 'AAPL', 'month': '201909', 'open': 206.43, 'close': 223.97},
 {'symbol': 'AAPL', 'month': '201910', 'open': 225.07, 'close': 248.76},
 {'symbol': 'AAPL', 'month': '201911', 'open': 249.54, 'close': 267.25},
 {'symbol': 'AAPL', 'month': '201912', 'open': 267.27, 'close': 293.65},
 {'symbol': 'AAPL', 'month': '202001', 'open': 296.24, 'close': 309.51},
 {'symbol': 'AAPL', 'month': '202002', 'open': 304.3, 'close': 273.36},
 {'symbol': 'AAPL', 'month': '202003', 'open': 282.28, 'close': 254.29},
 {'symbol': 'AAPL', 'month': '202004', 'open': 246.5, 'close': 293.8},
 {'symbol': 'AAPL', 'month': '202005', 'open': 286.25, 'close': 317.94},
 {'symbol': 'AAPL', 'month': '202006', 'open': 317.75, 'close': 364.8},
 {'symbol': 'AAPL', 'month': '202007', 'open': 365.12, 'close': 425.04},
 {'symbol': 'AAPL', 'month': '202008', 'open': 432.8, 'close': 129.04},
 {'symbol': 'AAPL', 'month': '202009', 'open': 132.76, 'close': 110.08},
 {'symbol': 'EBAY', 'month': '201801', 'open': 38.17, 'close': 40.58},
 {'symbol': 'EBAY', 'month': '201802', 'open': 45.5, 'close': 42.86},
 {'symbol': 'EBAY', 'month': '201803', 'open': 43.01, 'close': 40.24},
 {'symbol': 'EBAY', 'month': '201804', 'open': 40.04, 'close': 37.88},
 {'symbol': 'EBAY', 'month': '201805', 'open': 37.75, 'close': 37.72},
 {'symbol': 'EBAY', 'month': '201806', 'open': 38.06, 'close': 36.26},
 {'symbol': 'EBAY', 'month': '201807', 'open': 35.91, 'close': 33.45},
 {'symbol': 'EBAY', 'month': '201808', 'open': 33.35, 'close': 34.61},
 {'symbol': 'EBAY', 'month': '201809', 'open': 34.4, 'close': 33.02},
 {'symbol': 'EBAY', 'month': '201810', 'open': 33.1, 'close': 29.03},
 {'symbol': 'EBAY', 'month': '201811', 'open': 29.08, 'close': 29.85},
 {'symbol': 'EBAY', 'month': '201812', 'open': 30.17, 'close': 28.07},
 {'symbol': 'EBAY', 'month': '201901', 'open': 27.65, 'close': 33.65},
 {'symbol': 'EBAY', 'month': '201902', 'open': 33.75, 'close': 37.15},
 {'symbol': 'EBAY', 'month': '201903', 'open': 38.36, 'close': 37.14},
 {'symbol': 'EBAY', 'month': '201904', 'open': 37.41, 'close': 38.75},
 {'symbol': 'EBAY', 'month': '201905', 'open': 38.78, 'close': 35.93},
 {'symbol': 'EBAY', 'month': '201906', 'open': 35.85, 'close': 39.5},
 {'symbol': 'EBAY', 'month': '201907', 'open': 39.97, 'close': 41.19},
 {'symbol': 'EBAY', 'month': '201908', 'open': 41.36, 'close': 40.29},
 {'symbol': 'EBAY', 'month': '201909', 'open': 40.05, 'close': 38.98},
 {'symbol': 'EBAY', 'month': '201910', 'open': 38.99, 'close': 35.25},
 {'symbol': 'EBAY', 'month': '201911', 'open': 35.5, 'close': 35.52},
 {'symbol': 'EBAY', 'month': '201912', 'open': 35.45, 'close': 36.11},
 {'symbol': 'EBAY', 'month': '202001', 'open': 36.41, 'close': 33.56},
 {'symbol': 'EBAY', 'month': '202002', 'open': 33.75, 'close': 34.64},
 {'symbol': 'EBAY', 'month': '202003', 'open': 34.62, 'close': 30.06},
 {'symbol': 'EBAY', 'month': '202004', 'open': 29.3552, 'close': 39.83},
 {'symbol': 'EBAY', 'month': '202005', 'open': 38.78, 'close': 45.54},
 {'symbol': 'EBAY', 'month': '202006', 'open': 45.4652, 'close': 52.45},
 {'symbol': 'EBAY', 'month': '202007', 'open': 52.71, 'close': 55.28},
 {'symbol': 'EBAY', 'month': '202008', 'open': 55.69, 'close': 54.78},
 {'symbol': 'EBAY', 'month': '202009', 'open': 54.9539, 'close': 51.78},
 {'symbol': 'GOOG', 'month': '201801', 'open': 1048.34, 'close': 1169.94},
 {'symbol': 'GOOG', 'month': '201802', 'open': 1162.61, 'close': 1104.73},
 {'symbol': 'GOOG', 'month': '201803', 'open': 1107.87, 'close': 1031.79},
 {'symbol': 'GOOG', 'month': '201804', 'open': 1022.82, 'close': 1017.33},
 {'symbol': 'GOOG', 'month': '201805', 'open': 1013.66, 'close': 1084.99},
 {'symbol': 'GOOG', 'month': '201806', 'open': 1099.35, 'close': 1115.65},
 {'symbol': 'GOOG', 'month': '201807', 'open': 1099.0, 'close': 1217.26},
 {'symbol': 'GOOG', 'month': '201808', 'open': 1228.0, 'close': 1218.19},
 {'symbol': 'GOOG', 'month': '201809', 'open': 1204.27, 'close': 1193.47},
 {'symbol': 'GOOG', 'month': '201810', 'open': 1199.89, 'close': 1076.77},
 {'symbol': 'GOOG', 'month': '201811', 'open': 1075.8, 'close': 1094.43},
 {'symbol': 'GOOG', 'month': '201812', 'open': 1123.14, 'close': 1035.61},
 {'symbol': 'GOOG', 'month': '201901', 'open': 1016.57, 'close': 1116.37},
 {'symbol': 'GOOG', 'month': '201902', 'open': 1112.4, 'close': 1119.92},
 {'symbol': 'GOOG', 'month': '201903', 'open': 1124.9, 'close': 1173.31},
 {'symbol': 'GOOG', 'month': '201904', 'open': 1184.1, 'close': 1188.48},
 {'symbol': 'GOOG', 'month': '201905', 'open': 1188.05, 'close': 1103.63},
 {'symbol': 'GOOG', 'month': '201906', 'open': 1065.5, 'close': 1080.91},
 {'symbol': 'GOOG', 'month': '201907', 'open': 1098.0, 'close': 1216.6801},
 {'symbol': 'GOOG', 'month': '201908', 'open': 1214.03, 'close': 1188.1},
 {'symbol': 'GOOG', 'month': '201909', 'open': 1177.03, 'close': 1219.0},
 {'symbol': 'GOOG', 'month': '201910', 'open': 1219.0, 'close': 1260.11},
 {'symbol': 'GOOG', 'month': '201911', 'open': 1265.0, 'close': 1304.96},
 {'symbol': 'GOOG', 'month': '201912', 'open': 1301.0, 'close': 1337.02},
 {'symbol': 'GOOG', 'month': '202001', 'open': 1341.55, 'close': 1434.23},
 {'symbol': 'GOOG', 'month': '202002', 'open': 1462.0, 'close': 1339.33},
 {'symbol': 'GOOG', 'month': '202003', 'open': 1351.61, 'close': 1162.81},
 {'symbol': 'GOOG', 'month': '202004', 'open': 1122.0, 'close': 1348.66},
 {'symbol': 'GOOG', 'month': '202005', 'open': 1328.5, 'close': 1428.92},
 {'symbol': 'GOOG', 'month': '202006', 'open': 1418.39, 'close': 1413.61},
 {'symbol': 'GOOG', 'month': '202007', 'open': 1411.1, 'close': 1482.96},
 {'symbol': 'GOOG', 'month': '202008', 'open': 1486.64, 'close': 1634.18},
 {'symbol': 'GOOG', 'month': '202009', 'open': 1636.63, 'close': 1431.16},
 {'symbol': 'AAAP', 'month': '201801', 'open': 81.61, 'close': 80.42},
 {'symbol': 'AAAP', 'month': '201802', 'open': 80.1, 'close': 81.63},
 {'symbol': 'AAAP', 'month': '201806', 'open': 0.66, 'close': 0.66},
 {'symbol': 'AAAP', 'month': '201807', 'open': 0.66, 'close': 0.66},
 {'symbol': 'AABA', 'month': '201801', 'open': 70.77, 'close': 79.88},
 {'symbol': 'AABA', 'month': '201802', 'open': 76.48, 'close': 74.85},
 {'symbol': 'AABA', 'month': '201803', 'open': 75.04, 'close': 74.04},
 {'symbol': 'AABA', 'month': '201804', 'open': 73.58, 'close': 70.08},
 {'symbol': 'AABA', 'month': '201805', 'open': 69.45, 'close': 77.16},
 {'symbol': 'AABA', 'month': '201806', 'open': 77.58, 'close': 73.21},
 {'symbol': 'AABA', 'month': '201807', 'open': 71.61, 'close': 73.45},
 {'symbol': 'AABA', 'month': '201808', 'open': 73.2, 'close': 69.55},
 {'symbol': 'AABA', 'month': '201809', 'open': 69.12, 'close': 68.12},
 {'symbol': 'AABA', 'month': '201810', 'open': 68.54, 'close': 60.1},
 {'symbol': 'AABA', 'month': '201811', 'open': 60.84, 'close': 65.59},
 {'symbol': 'AABA', 'month': '201812', 'open': 68.14, 'close': 57.94},
 {'symbol': 'AABA', 'month': '201901', 'open': 56.78, 'close': 68.51},
 {'symbol': 'AABA', 'month': '201902', 'open': 68.43, 'close': 74.59},
 {'symbol': 'AABA', 'month': '201903', 'open': 75.0, 'close': 74.12},
 {'symbol': 'AABA', 'month': '201904', 'open': 74.95, 'close': 75.39},
 {'symbol': 'AABA', 'month': '201905', 'open': 75.64, 'close': 59.2},
 {'symbol': 'AABA', 'month': '201906', 'open': 59.3, 'close': 69.37},
 {'symbol': 'AABA', 'month': '201907', 'open': 70.9, 'close': 70.45},
 {'symbol': 'AABA', 'month': '201908', 'open': 70.8, 'close': 69.49},
 {'symbol': 'AABA', 'month': '201909', 'open': 69.47, 'close': 19.48},
 {'symbol': 'AABA', 'month': '201910', 'open': 19.4, 'close': 19.63},
 {'symbol': 'AABA', 'month': '201911', 'open': 0.0, 'close': 19.63},
 {'symbol': 'AABA', 'month': '202002', 'open': 0.0, 'close': 69.55},
 {'symbol': 'AABA', 'month': '202003', 'open': 0.0, 'close': 69.55},
 {'symbol': 'AAL', 'month': '201801', 'open': 52.33, 'close': 54.32},
 {'symbol': 'AAL', 'month': '201802', 'open': 54.0, 'close': 54.25},
 {'symbol': 'AAL', 'month': '201803', 'open': 54.14, 'close': 51.96},
 {'symbol': 'AAL', 'month': '201804', 'open': 51.77, 'close': 42.93},
 {'symbol': 'AAL', 'month': '201805', 'open': 42.86, 'close': 43.54},
 {'symbol': 'AAL', 'month': '201806', 'open': 44.05, 'close': 37.96},
 {'symbol': 'AAL', 'month': '201807', 'open': 37.74, 'close': 39.54},
 {'symbol': 'AAL', 'month': '201808', 'open': 39.38, 'close': 40.48},
 {'symbol': 'AAL', 'month': '201809', 'open': 40.32, 'close': 41.33},
 {'symbol': 'AAL', 'month': '201810', 'open': 41.41, 'close': 35.08},
 {'symbol': 'AAL', 'month': '201811', 'open': 35.3, 'close': 40.16},
 {'symbol': 'AAL', 'month': '201812', 'open': 40.57, 'close': 32.11},
 {'symbol': 'AAL', 'month': '201901', 'open': 31.46, 'close': 35.77},
 {'symbol': 'AAL', 'month': '201902', 'open': 35.77, 'close': 35.63},
 {'symbol': 'AAL', 'month': '201903', 'open': 35.58, 'close': 31.76},
 {'symbol': 'AAL', 'month': '201904', 'open': 31.98, 'close': 34.18},
 {'symbol': 'AAL', 'month': '201905', 'open': 34.3, 'close': 27.23},
 {'symbol': 'AAL', 'month': '201906', 'open': 27.12, 'close': 32.61},
 {'symbol': 'AAL', 'month': '201907', 'open': 33.14, 'close': 30.51},
 {'symbol': 'AAL', 'month': '201908', 'open': 30.43, 'close': 26.31},
 {'symbol': 'AAL', 'month': '201909', 'open': 26.16, 'close': 26.97},
 {'symbol': 'AAL', 'month': '201910', 'open': 27.08, 'close': 30.06},
 {'symbol': 'AAL', 'month': '201911', 'open': 30.3, 'close': 28.74},
 {'symbol': 'AAL', 'month': '201912', 'open': 28.79, 'close': 28.68},
 {'symbol': 'AAL', 'month': '202001', 'open': 28.98, 'close': 26.84},
 {'symbol': 'AAL', 'month': '202002', 'open': 26.93, 'close': 19.05},
 {'symbol': 'AAL', 'month': '202003', 'open': 19.05, 'close': 12.19},
 {'symbol': 'AAL', 'month': '202004', 'open': 11.45, 'close': 12.01},
 {'symbol': 'AAL', 'month': '202005', 'open': 11.41, 'close': 10.5},
 {'symbol': 'AAL', 'month': '202006', 'open': 10.79, 'close': 13.07},
 {'symbol': 'AAL', 'month': '202007', 'open': 13.48, 'close': 11.12},
 {'symbol': 'AAL', 'month': '202008', 'open': 11.07, 'close': 13.05},
 {'symbol': 'AAL', 'month': '202009', 'open': 12.86, 'close': 12.21},
 {'symbol': 'AAME', 'month': '201801', 'open': 3.46, 'close': 3.75},
 {'symbol': 'AAME', 'month': '201802', 'open': 3.75, 'close': 3.45},
 {'symbol': 'AAME', 'month': '201803', 'open': 3.35, 'close': 3.3},
 {'symbol': 'AAME', 'month': '201804', 'open': 3.35, 'close': 3.25},
 {'symbol': 'AAME', 'month': '201805', 'open': 3.25, 'close': 2.95},
 {'symbol': 'AAME', 'month': '201806', 'open': 2.8, 'close': 2.7},
 {'symbol': 'AAME', 'month': '201807', 'open': 2.75, 'close': 2.6},
 {'symbol': 'AAME', 'month': '201808', 'open': 2.6, 'close': 2.75},
 {'symbol': 'AAME', 'month': '201809', 'open': 3.2, 'close': 2.5},
 {'symbol': 'AAME', 'month': '201810', 'open': 2.55, 'close': 2.8},
 {'symbol': 'AAME', 'month': '201811', 'open': 2.67, 'close': 2.83},
 {'symbol': 'AAME', 'month': '201812', 'open': 2.8567, 'close': 2.4087},
 {'symbol': 'AAME', 'month': '201901', 'open': 2.43, 'close': 2.7045},
 {'symbol': 'AAME', 'month': '201902', 'open': 2.6513, 'close': 2.89},
 {'symbol': 'AAME', 'month': '201903', 'open': 2.85, 'close': 2.55},
 {'symbol': 'AAME', 'month': '201904', 'open': 2.6, 'close': 2.46},
 {'symbol': 'AAME', 'month': '201905', 'open': 2.46, 'close': 2.4501},
 {'symbol': 'AAME', 'month': '201906', 'open': 2.4499, 'close': 2.45},
 {'symbol': 'AAME', 'month': '201907', 'open': 2.43, 'close': 2.35},
 {'symbol': 'AAME', 'month': '201908', 'open': 2.35, 'close': 2.52},
 {'symbol': 'AAME', 'month': '201909', 'open': 2.41, 'close': 2.77},
 {'symbol': 'AAME', 'month': '201910', 'open': 2.62, 'close': 2.23},
 {'symbol': 'AAME', 'month': '201911', 'open': 2.11, 'close': 1.77},
 {'symbol': 'AAME', 'month': '201912', 'open': 1.83, 'close': 1.97},
 {'symbol': 'AAME', 'month': '202001', 'open': 1.99, 'close': 2.21},
 {'symbol': 'AAME', 'month': '202002', 'open': 1.9989, 'close': 2.47},
 {'symbol': 'AAME', 'month': '202003', 'open': 2.48, 'close': 2.11},
 {'symbol': 'AAME', 'month': '202004', 'open': 2.11, 'close': 1.775},
 {'symbol': 'AAME', 'month': '202005', 'open': 1.62, 'close': 1.77},
 {'symbol': 'AAME', 'month': '202006', 'open': 1.83, 'close': 1.655},
 {'symbol': 'AAME', 'month': '202007', 'open': 1.6402, 'close': 1.85},
 {'symbol': 'AAME', 'month': '202008', 'open': 1.8465, 'close': 2.0},
 {'symbol': 'AAME', 'month': '202009', 'open': 1.91, 'close': 2.09},
 {'symbol': 'AAOI', 'month': '201801', 'open': 37.8, 'close': 32.39},
 {'symbol': 'AAOI', 'month': '201802', 'open': 32.5, 'close': 27.93},
 {'symbol': 'AAOI', 'month': '201803', 'open': 27.9, 'close': 25.06},
 {'symbol': 'AAOI', 'month': '201804', 'open': 24.87, 'close': 31.96},
 {'symbol': 'AAOI', 'month': '201805', 'open': 31.64, 'close': 46.77},
 {'symbol': 'AAOI', 'month': '201806', 'open': 46.87, 'close': 44.9},
 {'symbol': 'AAOI', 'month': '201807', 'open': 44.55, 'close': 38.43},
 {'symbol': 'AAOI', 'month': '201808', 'open': 38.18, 'close': 41.36},
 {'symbol': 'AAOI', 'month': '201809', 'open': 41.27, 'close': 24.66},
 {'symbol': 'AAOI', 'month': '201810', 'open': 25.37, 'close': 19.63},
 {'symbol': 'AAOI', 'month': '201811', 'open': 18.67, 'close': 20.59},
 {'symbol': 'AAOI', 'month': '201812', 'open': 21.12, 'close': 15.43},
 {'symbol': 'AAOI', 'month': '201901', 'open': 15.0, 'close': 17.38},
 {'symbol': 'AAOI', 'month': '201902', 'open': 17.37, 'close': 13.5},
 {'symbol': 'AAOI', 'month': '201903', 'open': 13.63, 'close': 12.2},
 {'symbol': 'AAOI', 'month': '201904', 'open': 12.31, 'close': 12.52},
 {'symbol': 'AAOI', 'month': '201905', 'open': 12.59, 'close': 8.66},
 {'symbol': 'AAOI', 'month': '201906', 'open': 8.65, 'close': 10.28},
 {'symbol': 'AAOI', 'month': '201907', 'open': 10.7, 'close': 10.01},
 {'symbol': 'AAOI', 'month': '201908', 'open': 10.02, 'close': 8.9},
 {'symbol': 'AAOI', 'month': '201909', 'open': 8.77, 'close': 11.22},
 {'symbol': 'AAOI', 'month': '201910', 'open': 11.28, 'close': 9.36},
 {'symbol': 'AAOI', 'month': '201911', 'open': 9.07, 'close': 10.7},
 {'symbol': 'AAOI', 'month': '201912', 'open': 10.81, 'close': 11.88},
 {'symbol': 'AAOI', 'month': '202001', 'open': 12.13, 'close': 11.3},
 {'symbol': 'AAOI', 'month': '202002', 'open': 11.43, 'close': 8.93},
 {'symbol': 'AAOI', 'month': '202003', 'open': 8.95, 'close': 7.59},
 {'symbol': 'AAOI', 'month': '202004', 'open': 7.34, 'close': 10.72},
 {'symbol': 'AAOI', 'month': '202005', 'open': 10.38, 'close': 8.83},
 {'symbol': 'AAOI', 'month': '202006', 'open': 8.82, 'close': 10.87},
 {'symbol': 'AAOI', 'month': '202007', 'open': 10.67, 'close': 14.21},
 {'symbol': 'AAOI', 'month': '202008', 'open': 14.41, 'close': 11.63},
 {'symbol': 'AAOI', 'month': '202009', 'open': 11.63, 'close': 11.04},
 {'symbol': 'AAON', 'month': '201801', 'open': 36.95, 'close': 36.4},
 {'symbol': 'AAON', 'month': '201802', 'open': 36.25, 'close': 36.75},
 {'symbol': 'AAON', 'month': '201803', 'open': 36.9, 'close': 39.0},
 {'symbol': 'AAON', 'month': '201804', 'open': 38.9, 'close': 34.0},
 {'symbol': 'AAON', 'month': '201805', 'open': 33.9, 'close': 30.5},
 {'symbol': 'AAON', 'month': '201806', 'open': 30.7, 'close': 33.25},
 {'symbol': 'AAON', 'month': '201807', 'open': 32.95, 'close': 37.75},
 {'symbol': 'AAON', 'month': '201808', 'open': 37.75, 'close': 40.4},
 {'symbol': 'AAON', 'month': '201809', 'open': 40.2, 'close': 37.8},
 {'symbol': 'AAON', 'month': '201810', 'open': 37.97, 'close': 34.49},
 {'symbol': 'AAON', 'month': '201811', 'open': 33.84, 'close': 37.95},
 {'symbol': 'AAON', 'month': '201812', 'open': 38.21, 'close': 35.06},
 {'symbol': 'AAON', 'month': '201901', 'open': 34.57, 'close': 36.94},
 {'symbol': 'AAON', 'month': '201902', 'open': 37.05, 'close': 39.86},
 {'symbol': 'AAON', 'month': '201903', 'open': 40.45, 'close': 46.18},
 {'symbol': 'AAON', 'month': '201904', 'open': 46.5, 'close': 50.21},
 {'symbol': 'AAON', 'month': '201905', 'open': 50.34, 'close': 45.39},
 {'symbol': 'AAON', 'month': '201906', 'open': 45.27, 'close': 50.18},
 {'symbol': 'AAON', 'month': '201907', 'open': 50.57, 'close': 50.8},
 {'symbol': 'AAON', 'month': '201908', 'open': 49.11, 'close': 47.97},

In [27]:
dividends_by_period_df = pd.DataFrame(dividends_by_period)
stocks_by_period_df = pd.DataFrame(stocks_by_period)

combine_stock_df = pd.merge(stocks_by_period_df,dividends_by_period_df,how='outer',on=['symbol','month'])
combine_stock_df = combine_stock_df.fillna(0)
combine_stock_df.head(40)

   symbol   month      open   close  dividend
0    MSFT  201801   86.1250   95.01      0.00
1    MSFT  201802   94.7900   93.77      0.42
2    MSFT  201803   93.9900   91.27      0.00
3    MSFT  201804   90.4700   93.52      0.00
4    MSFT  201805   93.2100   98.84      0.42
5    MSFT  201806   99.2798   98.61      0.00
6    MSFT  201807   98.1000  106.08      0.00
7    MSFT  201808  106.0300  112.33      0.42
8    MSFT  201809  110.8500  114.37      0.00
9    MSFT  201810  114.7500  106.81      0.00
10   MSFT  201811  107.0500  110.89      0.46
11   MSFT  201812  113.0000  101.57      0.00
12   MSFT  201901   99.5500  104.43      0.00
13   MSFT  201902  103.7750  112.03      0.46
14   MSFT  201903  112.8900  117.94      0.00
15   MSFT  201904  118.9500  130.60      0.00
16   MSFT  201905  130.5300  123.68      0.46
17   MSFT  201906  123.8500  133.96      0.00
18   MSFT  201907  136.6300  136.27      0.00
19   MSFT  201908  137.0000  137.86      0.46
20   MSFT  201909  136.6100  139.03      0.00
21   MSFT  201910  139.6600  143.37      0.00
22   MSFT  201911  144.2600  151.38      0.51
23   MSFT  201912  151.8100  157.70      0.00
24   MSFT  202001  158.7800  170.23      0.00
25   MSFT  202002  170.4300  162.01      0.51
26   MSFT  202003  165.3100  157.71      0.00
27   MSFT  202004  153.0000  179.21      0.00
28   MSFT  202005  175.8000  183.25      0.51
29   MSFT  202006  182.5400  203.51      0.00
30   MSFT  202007  203.1400  205.01      0.00
31   MSFT  202008  211.5200  225.53      0.51
32   MSFT  202009  225.5100  202.54      0.00
33   AAPL  201801  170.1600  167.43      0.00
34   AAPL  201802  167.1650  178.12      0.63
35   AAPL  201803  178.5400  167.78      0.00
36   AAPL  201804  167.8800  165.26      0.00
37   AAPL  201805  166.4102  186.87      0.73
38   AAPL  201806  187.9912  185.11      0.00
39   AAPL  201807  183.8200  190.29      0.00

In [28]:
stocks_info_df.head(1)

  symbol frequency
0   NEWT         Q

In [29]:
stocks_info_copy_df = stocks_info_df.copy()
combine_stock_copy_df = combine_stock_df.copy()

In [30]:
combine_stock_df

       symbol   month    open  close  dividend
0        MSFT  201801  86.125  95.01      0.00
1        MSFT  201802  94.790  93.77      0.42
2        MSFT  201803  93.990  91.27      0.00
3        MSFT  201804  90.470  93.52      0.00
4        MSFT  201805  93.210  98.84      0.42
...       ...     ...     ...    ...       ...
206878   AXLA  202005   4.650   6.00      0.00
206879   AXLA  202006   6.200   5.53      0.00
206880   AXLA  202007   5.480   4.49      0.00
206881   AXLA  202008   4.840   5.00      0.00
206882   AXLA  202009   5.090   4.70      0.00

[206883 rows x 5 columns]

In [31]:
stocks_info_df.loc[stocks_info_df['symbol'] == "MSFT"]

     symbol frequency
2735   MSFT         Q

In [32]:
stocks_info_copy_df

     symbol frequency
0      NEWT         Q
1      CCAP         Q
2       IRM         Q
3      TRTN         Q
4       RMR         Q
...     ...       ...
2968    WCN         Q
2969    CIG         A
2970   ERIC         S
2971    ORA         Q
2972    NEE         Q

[2973 rows x 2 columns]

In [33]:
stocks_info_df

     symbol frequency
0      NEWT         Q
1      CCAP         Q
2       IRM         Q
3      TRTN         Q
4       RMR         Q
...     ...       ...
2968    WCN         Q
2969    CIG         A
2970   ERIC         S
2971    ORA         Q
2972    NEE         Q

[2973 rows x 2 columns]

In [34]:
test_stocks_info_df = stocks_info_df.head(200)

In [35]:
# for index,stock in test_stocks_info_df.iterrows():
#     for single_month in month_buckets:
#         stocks_info_df[index,single_month] = ''

In [36]:
combine_stock_df.head()

  symbol   month    open  close  dividend
0   MSFT  201801  86.125  95.01      0.00
1   MSFT  201802  94.790  93.77      0.42
2   MSFT  201803  93.990  91.27      0.00
3   MSFT  201804  90.470  93.52      0.00
4   MSFT  201805  93.210  98.84      0.42

In [37]:
print(month_buckets)

['201801', '201802', '201803', '201804', '201805', '201806', '201807', '201808', '201809', '201810', '201811', '201812', '201901', '201902', '201903', '201904', '201905', '201906', '201907', '201908', '201909', '201910', '201911', '201912', '202001', '202002', '202003', '202004', '202005', '202006', '202007', '202008', '202009', '202010', '202011', '202012']

In [38]:
stocks_info_df = stocks_info_copy_df.copy()

In [39]:
stocks_info_df

     symbol frequency
0      NEWT         Q
1      CCAP         Q
2       IRM         Q
3      TRTN         Q
4       RMR         Q
...     ...       ...
2968    WCN         Q
2969    CIG         A
2970   ERIC         S
2971    ORA         Q
2972    NEE         Q

[2973 rows x 2 columns]

In [40]:
stocks_info_df = stocks_info_copy_df.copy()
stocks_info_df

     symbol frequency
0      NEWT         Q
1      CCAP         Q
2       IRM         Q
3      TRTN         Q
4       RMR         Q
...     ...       ...
2968    WCN         Q
2969    CIG         A
2970   ERIC         S
2971    ORA         Q
2972    NEE         Q

[2973 rows x 2 columns]

In [41]:
stocks_info_df.loc[stocks_info_df['symbol'] == "MSFT"]

     symbol frequency
2735   MSFT         Q

In [42]:
for column_name in ['open','close','dividend']:
    print(column_name)
    for month in month_buckets:
        stocks_info_df[month+'_'+column_name] = 0.0
stocks_info_df

open
close
dividend

,symbol,frequency,201801_open,201802_open,201803_open,201804_open,201805_open,201806_open,201807_open,201808_open,...,202003_dividend,202004_dividend,202005_dividend,202006_dividend,202007_dividend,202008_dividend,202009_dividend,202010_dividend,202011_dividend,202012_dividend
0,NEWT,Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,CCAP,Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,IRM,Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TRTN,Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,RMR,Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2968,WCN,Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2969,CIG,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2970,ERIC,S,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2971,ORA,Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2972,NEE,Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
#stocks_info_df = stocks_info_df.set_index('symbol')

In [44]:
for column_name in ['open','close','dividend']:
    print(column_name)
    for month in month_buckets:
        print(month)
        stock_values_df = combine_stock_df.loc[combine_stock_df['month'] == month]
        stock_values_df = stock_values_df.filter(['symbol',month,column_name], axis=1)
        
        for index,single_stock in stock_values_df.iterrows():
            full_column_name = month+"_"+column_name
#             print(index)
#             print(single_stock['symbol'])
#             print(full_column_name)
#             print(single_stock[column_name])

            
            single_stock_info_df = stocks_info_df.loc[stocks_info_df['symbol'] == single_stock['symbol']]
            
            for found_index,found_single_stock in single_stock_info_df.iterrows():
                stocks_info_df.at[found_index,full_column_name] = single_stock[column_name]
            #print(stocks_info_df.loc[stocks_info_df['symbol'] == "MSFT"])

open
201801
201802
201803
201804
201805
201806
201807
201808
201809
201810
201811
201812
201901
201902
201903
201904
201905
201906
201907
201908
201909
201910
201911
201912
202001
202002
202003
202004
202005
202006
202007
202008
202009
202010
202011
202012
close
201801
201802
201803
201804
201805
201806
201807
201808
201809
201810
201811
201812
201901
201902
201903
201904
201905
201906
201907
201908
201909
201910
201911
201912
202001
202002
202003
202004
202005
202006
202007
202008
202009
202010
202011
202012
dividend
201801
201802
201803
201804
201805
201806
201807
201808
201809
201810
201811
201812
201901
201902
201903
201904
201905
201906
201907
201908
201909
201910
201911
201912
202001
202002
202003
202004
202005
202006
202007
202008
202009
202010
202011
202012

In [45]:
            #print(single_stock_info_data[0])
#             stocks_info_df.loc = single_stock[column_name]
#             #stocks_info_df.loc[index,full_column_name] = single_stock[column_name]
#             print(stocks_info_df.at[index,full_column_name])
            
#             print(stocks_info_df.loc[stocks_info_df['symbol'] == "MSFT"])
     
        #stocks_info_df.loc[:, month+column_name] = pd.merge(stocks_info_df,stock_values_df,on='symbol',how='right')


        #msft_stock = stocks_info_df.loc[stocks_info_df['symbol'] == "MSFT"]
        #print(msft_stock[full_column_name])

        
#        print(pd.merge(stocks_info_df,stock_values_df,on='symbol',how='inner'))
# df_out = df_current_source.merge(df_new_source, 
#                                  on=['index1', 'index2'], 
#                                  how='outer', indicator=True)

# stocks_info_df['symbol'] = np.where(stocks_info_df['_merge'] == 'both',
#                        df_out['A_y'],
#                        df_out.A_x.add(df_out.A_y, fill_value=0)).astype(int)

# df_out[['A', 'index1', 'index2']]

In [46]:
print(stocks_info_df.loc[stocks_info_df['symbol'] == "MSFT"])

     symbol frequency  201801_open  201802_open  201803_open  201804_open  \
2735   MSFT         Q       86.125        94.79        93.99        90.47

      201805_open  201806_open  201807_open  201808_open  ...  \
2735        93.21      99.2798         98.1       106.03  ...

      202003_dividend  202004_dividend  202005_dividend  202006_dividend  \
2735              0.0              0.0             0.51              0.0

      202007_dividend  202008_dividend  202009_dividend  202010_dividend  \
2735              0.0             0.51              0.0              0.0

      202011_dividend  202012_dividend
2735              0.0              0.0

[1 rows x 110 columns]

In [47]:
stocks_info_df.head()

,symbol,frequency,201801_open,201802_open,201803_open,201804_open,201805_open,201806_open,201807_open,201808_open,...,202003_dividend,202004_dividend,202005_dividend,202006_dividend,202007_dividend,202008_dividend,202009_dividend,202010_dividend,202011_dividend,202012_dividend
0,NEWT,Q,18.55,17.03,16.91,18.12,17.98,20.20,19.98,20.98,...,0.4400,0.00,0.0,0.0000,0.56,0.0,0.5800,0.0,0.0,0.0
1,CCAP,Q,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0000,0.00,0.0,0.0000,0.00,0.0,0.0000,0.0,0.0,0.0
2,IRM,Q,37.80,34.94,31.36,32.87,33.97,33.35,34.90,34.85,...,0.6185,0.00,0.0,0.6185,0.00,0.0,0.6185,0.0,0.0,0.0
3,TRTN,Q,37.88,38.20,28.46,30.51,30.85,35.03,30.25,35.40,...,0.5200,0.00,0.0,0.5200,0.00,0.0,0.5200,0.0,0.0,0.0
4,RMR,Q,59.40,64.65,63.20,69.90,74.45,75.95,78.20,86.70,...,0.0000,0.38,0.0,0.0000,0.38,0.0,0.0000,0.0,0.0,0.0

In [48]:
stocks_info_df.loc[stocks_info_df['symbol'] == "MSFT"]

,symbol,frequency,201801_open,201802_open,201803_open,201804_open,201805_open,201806_open,201807_open,201808_open,...,202003_dividend,202004_dividend,202005_dividend,202006_dividend,202007_dividend,202008_dividend,202009_dividend,202010_dividend,202011_dividend,202012_dividend
2735,MSFT,Q,86.125,94.79,93.99,90.47,93.21,99.2798,98.1,106.03,...,0.0,0.0,0.51,0.0,0.0,0.51,0.0,0.0,0.0,0.0

In [49]:
stocks_info_df.head(40)

,symbol,frequency,201801_open,201802_open,201803_open,201804_open,201805_open,201806_open,201807_open,201808_open,...,202003_dividend,202004_dividend,202005_dividend,202006_dividend,202007_dividend,202008_dividend,202009_dividend,202010_dividend,202011_dividend,202012_dividend
0,NEWT,Q,18.55,17.030,16.910,18.12,17.98,20.20,19.98,20.98,...,0.4400,0.000,0.0000,0.0000,0.5600,0.0000,0.5800,0.0,0.0,0.0
1,CCAP,Q,0.00,0.000,0.000,0.00,0.00,0.00,0.00,0.00,...,0.0000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
2,IRM,Q,37.80,34.940,31.360,32.87,33.97,33.35,34.90,34.85,...,0.6185,0.000,0.0000,0.6185,0.0000,0.0000,0.6185,0.0,0.0,0.0
3,TRTN,Q,37.88,38.200,28.460,30.51,30.85,35.03,30.25,35.40,...,0.5200,0.000,0.0000,0.5200,0.0000,0.0000,0.5200,0.0,0.0,0.0
4,RMR,Q,59.40,64.650,63.200,69.90,74.45,75.95,78.20,86.70,...,0.0000,0.380,0.0000,0.0000,0.3800,0.0000,0.0000,0.0,0.0,0.0
5,RGP,Q,0.00,0.000,0.000,0.00,0.00,0.00,0.00,0.00,...,0.0000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
6,MATW,Q,52.75,55.900,51.200,50.50,49.00,55.15,58.45,52.75,...,0.0000,0.000,0.2100,0.0000,0.2100,0.0000,0.0000,0.0,0.0,0.0
7,HCSG,Q,53.05,54.920,45.450,43.53,38.46,36.50,42.97,40.33,...,0.0000,0.000,0.2025,0.0000,0.0000,0.2037,0.0000,0.0,0.0,0.0
8,MAN,S,127.16,131.130,118.100,114.96,95.31,90.93,85.16,93.39,...,0.0000,0.000,1.0900,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
9,PAYX,Q,68.34,68.090,63.650,61.50,60.59,65.98,67.80,68.97,...,0.0000,0.000,0.6200,0.0000,0.6200,0.0000,0.0000,0.0,0.0,0.0
10,HCKT,Q,15.73,15.910,18.090,16.00,16.01,16.14,16.03,17.96,...,0.0000,0.000,0.0000,0.0950,0.0000,0.0000,0.0950,0.0,0.0,0.0
11,HSII,Q,24.70,26.150,26.400,31.10,37.75,38.05,34.85,40.90,...,0.1500,0.000,0.1500,0.0000,0.0000,0.1500,0.0000,0.0,0.0,0.0
12,MGRC,Q,47.34,47.700,50.410,53.50,58.94,65.19,63.03,58.61,...,0.0000,0.420,0.0000,0.0000,0.4200,0.0000,0.0000,0.0,0.0,0.0
13,HQI,Q,0.00,0.000,0.000,0.00,0.00,0.00,0.00,0.00,...,0.0000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
14,CASS,Q,58.32,57.130,58.260,59.32,60.44,62.30,68.30,67.06,...,0.2700,0.000,0.0000,0.2700,0.0000,0.0000,0.2700,0.0,0.0,0.0
15,RHI,Q,55.81,57.870,56.910,57.88,60.76,64.22,64.55,76.41,...,0.0000,0.000,0.3400,0.0000,0.0000,0.3400,0.0000,0.0,0.0,0.0
16,WD,Q,47.70,46.150,48.270,59.06,56.97,56.26,55.55,59.00,...,0.0000,0.000,0.3600,0.0000,0.0000,0.3600,0.0000,0.0,0.0,0.0
17,BGSF,Q,15.90,15.940,16.480,19.12,19.50,18.50,23.00,26.10,...,0.0000,0.000,0.0500,0.0000,0.0000,0.0500,0.0000,0.0,0.0,0.0
18,CRAI,Q,45.13,46.210,49.235,52.40,56.33,54.56,50.77,53.87,...,0.2300,0.000,0.2300,0.0000,0.0000,0.2300,0.0000,0.0,0.0,0.0
19,PINC,Q,29.23,32.250,33.190,31.34,32.99,32.69,36.26,37.70,...,0.0000,0.000,0.0000,0.0000,0.0000,0.1900,0.0000,0.0,0.0,0.0
20,KFRC,Q,25.45,25.750,27.350,27.05,26.55,32.55,34.30,38.00,...,0.2000,0.000,0.0000,0.2000,0.0000,0.0000,0.2000,0.0,0.0,0.0
21,BBSI,Q,64.81,69.590,74.450,82.77,87.23,86.73,95.76,91.75,...,0.3000,0.000,0.3000,0.0000,0.0000,0.3000,0.0000,0.0,0.0,0.0
22,AZZ,Q,51.25,45.250,40.700,43.60,44.35,43.60,43.10,54.20,...,0.0000,0.000,0.1700,0.0000,0.1700,0.0000,0.0000,0.0,0.0,0.0
23,VVI,Q,55.50,56.450,51.900,52.30,50.45,53.05,54.00,57.30,...,0.1000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
24,TRI,Q,43.70,42.940,39.390,38.61,40.13,38.84,40.12,41.56,...,0.3800,0.000,0.3800,0.0000,0.0000,0.3800,0.0000,0.0,0.0,0.0
25,NLSN,Q,36.40,37.210,32.560,31.72,31.32,30.23,29.86,23.35,...,0.0600,0.000,0.0000,0.0600,0.0000,0.0600,0.0000,0.0,0.0,0.0
26,ADS,Q,254.29,256.260,241.060,212.85,203.00,211.99,231.15,224.84,...,0.0000,0.000,0.2100,0.0000,0.0000,0.2100,0.0000,0.0,0.0,0.0
27,MMS,Q,71.73,68.110,66.860,66.55,67.61,61.33,61.91,64.79,...,0.0000,0.000,0.2800,0.0000,0.0000,0.2800,0.0000,0.0,0.0,0.0
28,RELX,S,23.58,21.420,20.600,20.86,21.67,22.30,21.41,21.97,...,0.0000,0.418,0.0000,0.0000,0.1725,0.0000,0.0000,0.0,0.0,0.0
29,KELYA,Q,27.30,28.260,29.420,29.04,29.05,22.57,22.38,24.29,...,0.0000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
30,BAH,Q,38.24,39.020,37.920,38.65,39.52,45.20,43.43,47.22,...,0.0000,0.000,0.0000,0.3100,0.0000,0.3100,0.0000,0.0,0.0,0.0
31,STN,Q,27.80,28.900,25.150,24.65,25.30,25.20,25.40,26.35,...,0.1110,0.000,0.0000,0.1130,0.0000,0.0000,0.0000,0.0,0.0,0.0
32,ACN,Q,153.50,160.155,161.280,151.82,151.09,156.94,161.90,160.31,...,0.0000,0.800,0.0000,0.0000,0.8000,0.0000,0.0000,0.0,0.0,0.0
33,RBA,Q,29.94,33.140,32.420,31.47,32.58,34.22,34.01,33.25,...,0.0000,0.000,0.2000,0.0000,0.0000,0.2200,0.0000,0.0,0.0,0.0
34,TTEC,S,40.45,39.550,35.600,30.55,31.90,35.45,34.40,32.05,...,0.3400,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0,0.0
35,BCO,Q,79.40,83.350,73.450,71.40,73.40,79.55,79.15,79.80,...,0.0000,0.000,0.1500,0.0000,0.1500,0.0000,0.0000,0.0,0.0,0.0
36,KFY,Q,41.50,44.060,42.000,51.41,53.14,55.09,61.45,66.16,...,0.1000,0.000,0.0000,0.0000,0.1000,0.0000,0.0000,0.0,0.0,0.0
37,VSEC,Q,49.78,49.360,48.530,51.41,50.74,49.68,47.54,43.01,...,0.0000,0.090,0.0000,0.0000,0.0900,0.0000,0.0000,0.0,0.0,0.0
38,G,Q,31.94,33.840,31.350,32.00,31.80,30.18,28.83,30.51,...,0.0975,0.000,0.0000,0.0975,0.0000,0.0000,0.0975,0.0,0.0,0.0
39,EXPO,Q,71.15,74.450,77.500,78.55,86.45,98.65,48.30,49.15,...,0.1900,0.000,0.0000,0.1900,0.0000,0.0000,0.1900,0.0,0.0,0.0

In [50]:
# for index,stock in combine_stock_df.iterrows():
#     upd_dict = {'open': stock['open'],
#                 'close': stock['close'],
#                 'dividend': stock['dividend']
#                 }
#     stock_info_index = stock_info_df.loc[stock_info_df['symbol'] == stock['symbol']]
#     stock_info_df[stock_info_index,stock['month']] = upd_dict

In [51]:
#     stock_info_df_index = stock['stock']
#     if stock['symbol'] in stock_info_df.stock_info_df_index:
#         stock_info_df[stock['symbol'],stock['month']] = upd_dict
#     else:
#         print("f {stock['symbol'] is not set in stock_info_df")
        
        
#             for single_month in month_buckets:
#         stocks_info_df.loc[index,single_month] = ''

In [52]:
#         for single_month in month_buckets:
#             row_data[single_month] = ''

In [53]:
stocks_info_copy2_df = stocks_info_df.copy()

In [57]:
for month in month_buckets:
    print(month)
    print('--------')
    stocks_info_df[month+"_"+'price_chg']  = stocks_info_df[month+'_'+'open'] - stocks_info_df[month+'_'+'close']

201801
--------
201802
--------
201803
--------
201804
--------
201805
--------
201806
--------
201807
--------
201808
--------
201809
--------
201810
--------
201811
--------
201812
--------
201901
--------
201902
--------
201903
--------
201904
--------
201905
--------
201906
--------
201907
--------
201908
--------
201909
--------
201910
--------
201911
--------
201912
--------
202001
--------
202002
--------
202003
--------
202004
--------
202005
--------
202006
--------
202007
--------
202008
--------
202009
--------
202010
--------
202011
--------
202012
--------

In [58]:
for month in month_buckets:
    print(month)
    print('--------')
    stocks_info_df[month+"_"+'dividend_price_yield']  = stocks_info_df[month+'_'+'dividend']  / stocks_info_df[month+'_'+'close']

201801
--------
201802
--------
201803
--------
201804
--------
201805
--------
201806
--------
201807
--------
201808
--------
201809
--------
201810
--------
201811
--------
201812
--------
201901
--------
201902
--------
201903
--------
201904
--------
201905
--------
201906
--------
201907
--------
201908
--------
201909
--------
201910
--------
201911
--------
201912
--------
202001
--------
202002
--------
202003
--------
202004
--------
202005
--------
202006
--------
202007
--------
202008
--------
202009
--------
202010
--------
202011
--------
202012
--------

In [59]:
stocks_info_df['202009_price_chg']

0      -0.05
1       0.00
2      -2.04
3      -4.45
4       0.74
        ...
2968    2.30
2969    0.33
2970   -0.04
2971   -0.92
2972    1.97
Name: 202009_price_chg, Length: 2973, dtype: float64

In [63]:
# Zero out September 2020 since it is not a full month
stocks_info_df['202009_open'] = 0
stocks_info_df['202009_close'] = 0
stocks_info_df['202009_price_chg'] = 0
stocks_info_df['202009_dividend'] = 0
stocks_info_df['202009_dividend_price_yield'] = 0

In [65]:
# Update september,october,november,decemeber with august
stocks_info_df['202009_open'] = stocks_info_df['202008_open']
stocks_info_df['202010_open'] = stocks_info_df['202008_open']
stocks_info_df['202011_open'] = stocks_info_df['202008_open']
stocks_info_df['202012_open'] = stocks_info_df['202008_open']

stocks_info_df['202009_close'] = stocks_info_df['202008_close']
stocks_info_df['202010_close'] = stocks_info_df['202008_close']
stocks_info_df['202011_close'] = stocks_info_df['202008_close']
stocks_info_df['202012_close'] = stocks_info_df['202008_close']

stocks_info_df['202009_dividend'] = stocks_info_df['202008_dividend']
stocks_info_df['202010_dividend'] = stocks_info_df['202008_dividend']
stocks_info_df['202011_dividend'] = stocks_info_df['202008_dividend']
stocks_info_df['202012_dividend'] = stocks_info_df['202008_dividend']

stocks_info_df['202009_price_chg'] = stocks_info_df['202008_price_chg']
stocks_info_df['202010_price_chg'] = stocks_info_df['202008_price_chg']
stocks_info_df['202011_price_chg'] = stocks_info_df['202008_price_chg']
stocks_info_df['202012_price_chg'] = stocks_info_df['202008_price_chg']


stocks_info_df['202009_dividend_price_yield'] = stocks_info_df['202008_dividend_price_yield']
stocks_info_df['202010_dividend_price_yield'] = stocks_info_df['202008_dividend_price_yield']
stocks_info_df['202011_dividend_price_yield'] = stocks_info_df['202008_dividend_price_yield']
stocks_info_df['202012_dividend_price_yield'] = stocks_info_df['202008_dividend_price_yield']

In [62]:
list(stocks_info_df.columns.values)

['symbol',
 'frequency',
 '201801_open',
 '201802_open',
 '201803_open',
 '201804_open',
 '201805_open',
 '201806_open',
 '201807_open',
 '201808_open',
 '201809_open',
 '201810_open',
 '201811_open',
 '201812_open',
 '201901_open',
 '201902_open',
 '201903_open',
 '201904_open',
 '201905_open',
 '201906_open',
 '201907_open',
 '201908_open',
 '201909_open',
 '201910_open',
 '201911_open',
 '201912_open',
 '202001_open',
 '202002_open',
 '202003_open',
 '202004_open',
 '202005_open',
 '202006_open',
 '202007_open',
 '202008_open',
 '202009_open',
 '202010_open',
 '202011_open',
 '202012_open',
 '201801_close',
 '201802_close',
 '201803_close',
 '201804_close',
 '201805_close',
 '201806_close',
 '201807_close',
 '201808_close',
 '201809_close',
 '201810_close',
 '201811_close',
 '201812_close',
 '201901_close',
 '201902_close',
 '201903_close',
 '201904_close',
 '201905_close',
 '201906_close',
 '201907_close',
 '201908_close',
 '201909_close',
 '201910_close',
 '201911_close',
 '201912_close',
 '202001_close',
 '202002_close',
 '202003_close',
 '202004_close',
 '202005_close',
 '202006_close',
 '202007_close',
 '202008_close',
 '202009_close',
 '202010_close',
 '202011_close',
 '202012_close',
 '201801_dividend',
 '201802_dividend',
 '201803_dividend',
 '201804_dividend',
 '201805_dividend',
 '201806_dividend',
 '201807_dividend',
 '201808_dividend',
 '201809_dividend',
 '201810_dividend',
 '201811_dividend',
 '201812_dividend',
 '201901_dividend',
 '201902_dividend',
 '201903_dividend',
 '201904_dividend',
 '201905_dividend',
 '201906_dividend',
 '201907_dividend',
 '201908_dividend',
 '201909_dividend',
 '201910_dividend',
 '201911_dividend',
 '201912_dividend',
 '202001_dividend',
 '202002_dividend',
 '202003_dividend',
 '202004_dividend',
 '202005_dividend',
 '202006_dividend',
 '202007_dividend',
 '202008_dividend',
 '202009_dividend',
 '202010_dividend',
 '202011_dividend',
 '202012_dividend',
 '202009_price_chg',
 '201801_price_chg',
 '201802_price_chg',
 '201803_price_chg',
 '201804_price_chg',
 '201805_price_chg',
 '201806_price_chg',
 '201807_price_chg',
 '201808_price_chg',
 '201809_price_chg',
 '201810_price_chg',
 '201811_price_chg',
 '201812_price_chg',
 '201901_price_chg',
 '201902_price_chg',
 '201903_price_chg',
 '201904_price_chg',
 '201905_price_chg',
 '201906_price_chg',
 '201907_price_chg',
 '201908_price_chg',
 '201909_price_chg',
 '201910_price_chg',
 '201911_price_chg',
 '201912_price_chg',
 '202001_price_chg',
 '202002_price_chg',
 '202003_price_chg',
 '202004_price_chg',
 '202005_price_chg',
 '202006_price_chg',
 '202007_price_chg',
 '202008_price_chg',
 '202010_price_chg',
 '202011_price_chg',
 '202012_price_chg',
 '201801_dividend_price_yield',
 '201802_dividend_price_yield',
 '201803_dividend_price_yield',
 '201804_dividend_price_yield',
 '201805_dividend_price_yield',
 '201806_dividend_price_yield',
 '201807_dividend_price_yield',
 '201808_dividend_price_yield',
 '201809_dividend_price_yield',
 '201810_dividend_price_yield',
 '201811_dividend_price_yield',
 '201812_dividend_price_yield',
 '201901_dividend_price_yield',
 '201902_dividend_price_yield',
 '201903_dividend_price_yield',
 '201904_dividend_price_yield',
 '201905_dividend_price_yield',
 '201906_dividend_price_yield',
 '201907_dividend_price_yield',
 '201908_dividend_price_yield',
 '201909_dividend_price_yield',
 '201910_dividend_price_yield',
 '201911_dividend_price_yield',
 '201912_dividend_price_yield',
 '202001_dividend_price_yield',
 '202002_dividend_price_yield',
 '202003_dividend_price_yield',
 '202004_dividend_price_yield',
 '202005_dividend_price_yield',
 '202006_dividend_price_yield',
 '202007_dividend_price_yield',
 '202008_dividend_price_yield',
 '202009_dividend_price_yield',
 '202010_dividend_price_yield',
 '202011_dividend_price_yield',
 '202012_dividend_price_yield']

In [66]:
stocks_info_df['201801_price_chg']

0       1.46
1       0.00
2       2.77
3      -0.72
4      -5.35
        ...
2968   -1.12
2969   -0.24
2970    0.23
2971   -5.64
2972   -1.99
Name: 201801_price_chg, Length: 2973, dtype: float64

In [67]:
stocks_info_df['201801_dividend_price_yield']

0       0.000000
1            NaN
2       0.000000
3       0.000000
4       0.003861
          ...
2968    0.000000
2969    0.000000
2970    0.000000
2971    0.000000
2972    0.000000
Name: 201801_dividend_price_yield, Length: 2973, dtype: float64

In [68]:
#  Get the monthly dividend records
monthly_dividends_df = pd.DataFrame(stocks_info_df.loc[stocks_info_df['frequency'] == "M"])
monthly_dividends_df

,symbol,frequency,201801_open,201802_open,201803_open,201804_open,201805_open,201806_open,201807_open,201808_open,...,202003_dividend_price_yield,202004_dividend_price_yield,202005_dividend_price_yield,202006_dividend_price_yield,202007_dividend_price_yield,202008_dividend_price_yield,202009_dividend_price_yield,202010_dividend_price_yield,202011_dividend_price_yield,202012_dividend_price_yield
229,CLM,M,15.5200,16.08,15.55,15.28,15.630,15.20,14.0500,14.17,...,0.022820,0.019671,0.018131,0.018131,0.017205,0.016427,0.016427,0.016427,0.016427,0.016427
230,CRF,M,15.3300,15.91,15.44,15.20,15.560,15.13,13.9500,14.07,...,0.022563,0.019501,0.018160,0.017871,0.017236,0.016283,0.016283,0.016283,0.016283,0.016283
232,JQC,M,8.2200,8.11,8.10,7.97,8.070,8.11,7.9500,7.89,...,0.016226,0.014983,0.014807,0.013870,0.013776,0.013279,0.013279,0.013279,0.013279,0.013279
234,RIV,M,20.0300,20.95,20.50,20.40,20.927,21.35,20.5000,19.18,...,0.014493,0.013514,0.012857,0.012129,0.012154,0.011658,0.011658,0.011658,0.011658,0.011658
235,EDF,M,15.8600,16.25,15.92,15.90,14.870,14.03,13.1000,14.01,...,0.022880,0.028239,0.011080,0.011348,0.011299,0.011252,0.011252,0.011252,0.011252,0.011252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2560,O,M,57.0200,53.09,49.17,51.62,50.500,53.41,53.7500,55.33,...,0.004673,0.004243,0.004213,0.003924,0.003888,0.003764,0.003764,0.003764,0.003764,0.003764
2571,STAG,M,27.3400,25.32,22.73,23.86,24.540,26.74,27.1600,27.48,...,0.005329,0.004571,0.004461,0.004093,0.003681,0.003715,0.003715,0.003715,0.003715,0.003715
2585,GRP.U,M,0.0000,0.00,0.00,0.00,0.000,0.00,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2589,LAND,M,13.4300,12.72,12.45,12.05,12.590,12.80,12.6400,11.88,...,0.003772,0.003331,0.003083,0.002818,0.002786,0.002846,0.002846,0.002846,0.002846,0.002846
2940,GWRS,M,9.3302,8.86,8.54,8.98,9.170,9.18,9.3616,9.51,...,0.002365,0.002242,0.002242,0.002287,0.002320,0.002181,0.002181,0.002181,0.002181,0.002181

In [74]:
dividend_columns_before_covid = []
price_columns_before_covid = []

dividend_columns_after_covid = []
price_columns_after_covid = []

dividend_yield_columns_before_covid = []
dividend_yield_columns_after_covid = []
for month in month_buckets:
    if int(month) >= 202003:
        dividend_columns_after_covid.append(month+'_'+'dividend')
        price_columns_after_covid.append(month+'_'+'close')
        dividend_yield_columns_after_covid.append(month+'_'+'dividend_price_yield')
    else:
        dividend_columns_before_covid.append(month+'_'+'dividend')
        price_columns_before_covid.append(month+'_'+'close')
        dividend_yield_columns_before_covid.append(month+'_'+'dividend_price_yield')
    


dividend_all_columns = dividend_columns_before_covid + dividend_columns_after_covid
price_all_columns = price_columns_before_covid + price_columns_after_covid
dividend_yield_all_columns = dividend_yield_columns_before_covid + dividend_yield_columns_after_covid
print(dividend_columns_before_covid)
print(dividend_columns_after_covid)
print(dividend_all_columns)
print(price_columns_before_covid)
print(price_columns_after_covid)
print(price_all_columns)
print(dividend_yield_columns_before_covid)
print(dividend_yield_columns_after_covid)
print(dividend_yield_all_columns)

['201801_dividend', '201802_dividend', '201803_dividend', '201804_dividend', '201805_dividend', '201806_dividend', '201807_dividend', '201808_dividend', '201809_dividend', '201810_dividend', '201811_dividend', '201812_dividend', '201901_dividend', '201902_dividend', '201903_dividend', '201904_dividend', '201905_dividend', '201906_dividend', '201907_dividend', '201908_dividend', '201909_dividend', '201910_dividend', '201911_dividend', '201912_dividend', '202001_dividend', '202002_dividend']
['202003_dividend', '202004_dividend', '202005_dividend', '202006_dividend', '202007_dividend', '202008_dividend', '202009_dividend', '202010_dividend', '202011_dividend', '202012_dividend']
['201801_dividend', '201802_dividend', '201803_dividend', '201804_dividend', '201805_dividend', '201806_dividend', '201807_dividend', '201808_dividend', '201809_dividend', '201810_dividend', '201811_dividend', '201812_dividend', '201901_dividend', '201902_dividend', '201903_dividend', '201904_dividend', '201905_dividend', '201906_dividend', '201907_dividend', '201908_dividend', '201909_dividend', '201910_dividend', '201911_dividend', '201912_dividend', '202001_dividend', '202002_dividend', '202003_dividend', '202004_dividend', '202005_dividend', '202006_dividend', '202007_dividend', '202008_dividend', '202009_dividend', '202010_dividend', '202011_dividend', '202012_dividend']
['201801_close', '201802_close', '201803_close', '201804_close', '201805_close', '201806_close', '201807_close', '201808_close', '201809_close', '201810_close', '201811_close', '201812_close', '201901_close', '201902_close', '201903_close', '201904_close', '201905_close', '201906_close', '201907_close', '201908_close', '201909_close', '201910_close', '201911_close', '201912_close', '202001_close', '202002_close']
['202003_close', '202004_close', '202005_close', '202006_close', '202007_close', '202008_close', '202009_close', '202010_close', '202011_close', '202012_close']
['201801_close', '201802_close', '201803_close', '201804_close', '201805_close', '201806_close', '201807_close', '201808_close', '201809_close', '201810_close', '201811_close', '201812_close', '201901_close', '201902_close', '201903_close', '201904_close', '201905_close', '201906_close', '201907_close', '201908_close', '201909_close', '201910_close', '201911_close', '201912_close', '202001_close', '202002_close', '202003_close', '202004_close', '202005_close', '202006_close', '202007_close', '202008_close', '202009_close', '202010_close', '202011_close', '202012_close']
['201801_dividend_price_yield', '201802_dividend_price_yield', '201803_dividend_price_yield', '201804_dividend_price_yield', '201805_dividend_price_yield', '201806_dividend_price_yield', '201807_dividend_price_yield', '201808_dividend_price_yield', '201809_dividend_price_yield', '201810_dividend_price_yield', '201811_dividend_price_yield', '201812_dividend_price_yield', '201901_dividend_price_yield', '201902_dividend_price_yield', '201903_dividend_price_yield', '201904_dividend_price_yield', '201905_dividend_price_yield', '201906_dividend_price_yield', '201907_dividend_price_yield', '201908_dividend_price_yield', '201909_dividend_price_yield', '201910_dividend_price_yield', '201911_dividend_price_yield', '201912_dividend_price_yield', '202001_dividend_price_yield', '202002_dividend_price_yield']
['202003_dividend_price_yield', '202004_dividend_price_yield', '202005_dividend_price_yield', '202006_dividend_price_yield', '202007_dividend_price_yield', '202008_dividend_price_yield', '202009_dividend_price_yield', '202010_dividend_price_yield', '202011_dividend_price_yield', '202012_dividend_price_yield']
['201801_dividend_price_yield', '201802_dividend_price_yield', '201803_dividend_price_yield', '201804_dividend_price_yield', '201805_dividend_price_yield', '201806_dividend_price_yield', '201807_dividend_price_yield', '201808_dividend_price_yield', '201809_dividend_price_yield', '201810_dividend_price_yield', '201811_dividend_price_yield', '201812_dividend_price_yield', '201901_dividend_price_yield', '201902_dividend_price_yield', '201903_dividend_price_yield', '201904_dividend_price_yield', '201905_dividend_price_yield', '201906_dividend_price_yield', '201907_dividend_price_yield', '201908_dividend_price_yield', '201909_dividend_price_yield', '201910_dividend_price_yield', '201911_dividend_price_yield', '201912_dividend_price_yield', '202001_dividend_price_yield', '202002_dividend_price_yield', '202003_dividend_price_yield', '202004_dividend_price_yield', '202005_dividend_price_yield', '202006_dividend_price_yield', '202007_dividend_price_yield', '202008_dividend_price_yield', '202009_dividend_price_yield', '202010_dividend_price_yield', '202011_dividend_price_yield', '202012_dividend_price_yield']

In [70]:
stocks_info_df['average_dividend_before_covid'] = 0
stocks_info_df['average_dividend_after_covid'] = 0
stocks_info_df['average_total_dividends'] = 0
stocks_info_df['average_dividend_yield_before_covid'] = 0
stocks_info_df['average_dividend_yield_after_covid'] = 0
stocks_info_df['average_total_dividend_yields'] = 0

In [75]:
monthly_dividends_df['average_dividend_before_covid'] = monthly_dividends_df[dividend_columns_before_covid].sum(axis=1)/len(dividend_columns_before_covid)
monthly_dividends_df['average_dividend_after_covid'] = monthly_dividends_df[dividend_columns_after_covid].sum(axis=1)/len(dividend_columns_after_covid)
monthly_dividends_df['total_average_dividends'] = monthly_dividends_df[dividend_all_columns].sum(axis=1)/len(dividend_all_columns)

monthly_dividends_df['average_dividend_yield_before_covid'] = monthly_dividends_df[dividend_yield_columns_before_covid].sum(axis=1)/len(dividend_columns_before_covid)
monthly_dividends_df['average_dividend_yield_after_covid'] = monthly_dividends_df[dividend_yield_columns_after_covid].sum(axis=1)/len(dividend_columns_after_covid)
monthly_dividends_df['total_average_dividend_yields'] = monthly_dividends_df[dividend_yield_all_columns].sum(axis=1)/len(dividend_all_columns)

#df[list_of_my_columns].sum(axis=1)total_average_dividends

In [76]:
print(monthly_dividends_df['total_average_dividends'])

229     0.209000
230     0.202789
232     0.076175
234     0.181944
235     0.151944
          ...
2560    0.226528
2571    0.112558
2585    0.000000
2589    0.043328
2940    0.023911
Name: total_average_dividends, Length: 591, dtype: float64

In [77]:
print(monthly_dividends_df['average_dividend_yield_before_covid'])

229     0.017249
230     0.017053
232     0.009555
234     0.010209
235     0.012903
          ...
2560    0.003508
2571    0.003932
2585    0.000000
2589    0.003444
2940    0.002300
Name: average_dividend_yield_before_covid, Length: 591, dtype: float64

In [ ]:
# before_covid_avg_monthly_dividend = 0
# after_covid_avg_monthly_dividend = 0

# monthly_dividends_df['average_dividend_yield_before_covid'] = monthly_dividends_df[dividend_columns_before_covid].sum(axis=1)/len(dividend_columns_before_covid)
# monthly_dividends_df['average_dividend_yield_after_covid'] = monthly_dividends_df[dividend_columns_after_covid].sum(axis=1)/len(dividend_columns_after_covid)
# monthly_dividends_df['total_average_dividend_yields'] = monthly_dividends_df[dividend_all_columns].sum(axis=1)/len(dividend_all_columns)

# #df[list_of_my_columns].sum(axis=1)total_average_dividends

In [ ]:
monthly_dividends_df.loc[:,['symbol','average_dividend_before_covid','average_dividend_after_covid','total_average_dividends']]

In [ ]:
monthly_dividends_df.sum (axis=0)

In [78]:
for index,dividend_stock in monthly_dividends_df.iterrows():
    print(index,dividend_stock)
    for column in dividend_columns_before_covid:
        print(column,dividend_stock[column])
   
    for column in dividend_columns_after_covid:
        print(column,dividend_stock[column])
    break

229 symbol                                       CLM
frequency                                      M
201801_open                                15.52
201802_open                                16.08
201803_open                                15.55
                                         ...
average_dividend_after_covid              0.1853
total_average_dividends                    0.209
average_dividend_yield_before_covid    0.0172489
average_dividend_yield_after_covid     0.0178095
total_average_dividend_yields          0.0174046
Name: 229, Length: 188, dtype: object
201801_dividend 0.2365
201802_dividend 0.2365
201803_dividend 0.2365
201804_dividend 0.2365
201805_dividend 0.2365
201806_dividend 0.2365
201807_dividend 0.2365
201808_dividend 0.2365
201809_dividend 0.2365
201810_dividend 0.2365
201811_dividend 0.2365
201812_dividend 0.2365
201901_dividend 0.2053
201902_dividend 0.2053
201903_dividend 0.2053
201904_dividend 0.2053
201905_dividend 0.2053
201906_dividend 0.2053
201907_dividend 0.2053
201908_dividend 0.205
201909_dividend 0.205
201910_dividend 0.205
201911_dividend 0.205
201912_dividend 0.2053
202001_dividend 0.1853
202002_dividend 0.1853
202003_dividend 0.1853
202004_dividend 0.1853
202005_dividend 0.1853
202006_dividend 0.1853
202007_dividend 0.1853
202008_dividend 0.1853
202009_dividend 0.1853
202010_dividend 0.1853
202011_dividend 0.1853
202012_dividend 0.1853

In [79]:
monthly_dividends_df = monthly_dividends_df.sort_values(by='average_dividend_before_covid',ascending=[False])
monthly_dividends_df.loc[:,['symbol','average_dividend_before_covid','average_dividend_after_covid','total_average_dividends']].head(10)

,symbol,average_dividend_before_covid,average_dividend_after_covid,total_average_dividends
689,EMB,0.407012,0.35115,0.391494
2427,EPR,0.312692,0.07650,0.247083
776,VCLT,0.286412,0.29604,0.289086
555,VWOB,0.262058,0.28380,0.268097
2497,SLG,0.258558,0.29500,0.268681
673,EMCB,0.237808,0.25750,0.243278
2560,O,0.223904,0.23335,0.226528
852,VCIT,0.223258,0.21443,0.220806
1161,TLT,0.220565,0.20358,0.215847
229,CLM,0.218115,0.18530,0.209000

In [80]:
monthly_dividends_df = monthly_dividends_df.sort_values(by='average_dividend_after_covid',ascending=[False])
monthly_dividends_df.loc[:,['symbol','average_dividend_before_covid','average_dividend_after_covid','total_average_dividends']].head(10)

,symbol,average_dividend_before_covid,average_dividend_after_covid,total_average_dividends
689,EMB,0.407012,0.35115,0.391494
776,VCLT,0.286412,0.29604,0.289086
2497,SLG,0.258558,0.29500,0.268681
555,VWOB,0.262058,0.28380,0.268097
673,EMCB,0.237808,0.25750,0.243278
2560,O,0.223904,0.23335,0.226528
274,PDI,0.212096,0.22050,0.214431
852,VCIT,0.223258,0.21443,0.220806
940,MBB,0.208073,0.20837,0.208156
332,KBWY,0.160050,0.20603,0.172822

In [81]:
monthly_dividends_df = monthly_dividends_df.sort_values(by='total_average_dividends',ascending=[False])
monthly_dividends_df.loc[:,['symbol','average_dividend_before_covid','average_dividend_after_covid','total_average_dividends']].head(10)

,symbol,average_dividend_before_covid,average_dividend_after_covid,total_average_dividends
689,EMB,0.407012,0.35115,0.391494
776,VCLT,0.286412,0.29604,0.289086
2497,SLG,0.258558,0.29500,0.268681
555,VWOB,0.262058,0.28380,0.268097
2427,EPR,0.312692,0.07650,0.247083
673,EMCB,0.237808,0.25750,0.243278
2560,O,0.223904,0.23335,0.226528
852,VCIT,0.223258,0.21443,0.220806
1161,TLT,0.220565,0.20358,0.215847
274,PDI,0.212096,0.22050,0.214431

In [84]:
monthly_dividends_df = monthly_dividends_df.sort_values(by='average_dividend_yield_before_covid',ascending=[False])
monthly_dividends_df.loc[:,['symbol','average_dividend_yield_before_covid','average_dividend_yield_before_covid','total_average_dividend_yields']].head(10)

,symbol,average_dividend_yield_before_covid,average_dividend_yield_after_covid,total_average_dividend_yields
229,CLM,0.017249,0.017810,0.017405
230,CRF,0.017053,0.017674,0.017226
1455,OXLC,0.013716,0.022657,0.016199
235,EDF,0.012903,0.014111,0.013238
2431,ORC,0.012222,0.014122,0.012750
237,EDI,0.011568,0.012898,0.011938
281,GGN,0.011184,0.011171,0.011181
234,RIV,0.010209,0.012344,0.010802
398,HIE,0.010207,0.007682,0.009506
252,ZTR,0.009966,0.011236,0.010319

In [85]:
monthly_dividends_df = monthly_dividends_df.sort_values(by='average_dividend_yield_after_covid',ascending=[False])
monthly_dividends_df.loc[:,['symbol','average_dividend_yield_before_covid','average_dividend_yield_after_covid','total_average_dividend_yields']].head(10)

,symbol,average_dividend_yield_before_covid,average_dividend_yield_after_covid,total_average_dividend_yields
1452,GECC,0.009425,0.022750,0.013126
1455,OXLC,0.013716,0.022657,0.016199
229,CLM,0.017249,0.017810,0.017405
230,CRF,0.017053,0.017674,0.017226
1457,OXSQ,0.008979,0.017596,0.011373
2431,ORC,0.012222,0.014122,0.012750
235,EDF,0.012903,0.014111,0.013238
232,JQC,0.009555,0.014005,0.010791
247,ACP,0.009283,0.013215,0.010375
237,EDI,0.011568,0.012898,0.011938

In [86]:
monthly_dividends_df = monthly_dividends_df.sort_values(by='total_average_dividend_yields',ascending=[False])
monthly_dividends_df.loc[:,['symbol','average_dividend_yield_before_covid','average_dividend_yield_after_covid','total_average_dividend_yields']].head(10)

,symbol,average_dividend_yield_before_covid,average_dividend_yield_after_covid,total_average_dividend_yields
229,CLM,0.017249,0.017810,0.017405
230,CRF,0.017053,0.017674,0.017226
1455,OXLC,0.013716,0.022657,0.016199
235,EDF,0.012903,0.014111,0.013238
1452,GECC,0.009425,0.022750,0.013126
2431,ORC,0.012222,0.014122,0.012750
237,EDI,0.011568,0.012898,0.011938
1457,OXSQ,0.008979,0.017596,0.011373
281,GGN,0.011184,0.011171,0.011181
234,RIV,0.010209,0.012344,0.010802

In [ ]:
#  Get the stocks that are not dividend stocks
price_dividends_df = pd.DataFrame(stocks_info_df.loc[(stocks_info_df['frequency'] == "M") & 
                                                     (stocks_info_df['frequency'] == "?")])
price_dividends_df