In [5]:
import pandas as pd

In [6]:

# Set the path to the files
stock_prices_latest_path = 'data/stocks_latest/stock_prices_latest.zip'

# Read the files into dataframes
stock_prices_latest_df = pd.read_csv(stock_prices_latest_path)


df = pd.read_csv(stock_prices_latest_path, compression='zip', header=0, sep=',', quotechar='"')

In [7]:
df

,symbol,date,open,high,low,close,close_adjusted,volume,split_coefficient
0,MSFT,2016-05-16,50.8000,51.9600,50.7500,51.8300,49.7013,20032017,1.0
1,MSFT,2002-01-16,68.8500,69.8400,67.8500,67.8700,22.5902,30977700,1.0
2,MSFT,2001-09-18,53.4100,55.0000,53.1700,54.3200,18.0802,41591300,1.0
3,MSFT,2007-10-26,36.0100,36.0300,34.5600,35.0300,27.2232,288121200,1.0
4,MSFT,2014-06-27,41.6100,42.2900,41.5100,42.2500,38.6773,74640000,1.0
...,...,...,...,...,...,...,...,...,...
22824528,MTNB,2020-09-22,0.7995,0.8098,0.7723,0.7953,0.7953,1107081,1.0
22824529,MTNB,2020-09-23,0.8097,0.8100,0.7820,0.7929,0.7929,1336844,1.0
22824530,MTNB,2020-09-16,0.8000,0.8100,0.7590,0.7784,0.7784,1478516,1.0
22824531,MTNB,2020-09-17,0.7784,0.8000,0.7553,0.7961,0.7961,1460562,1.0
22824532,MTNB,2020-09-18,0.8100,0.8100,0.7800,0.8038,0.8038,1738270,1.0